/**
 * IE Compatibility Tweaks
 */

/* blocks.css */
.block-user .item-list li {
	display: inline;
	zoom: 1;
}

#user-login-form .item-list li {
	display: block;
}

/* forms.css */
input.form-submit {
	overflow: visible; /* IE Fix */
}

input.form-submit,
a.button {
	padding: 3px 10px;
}

#comment-form .filter-wrapper {
	padding-top: 1em;
}

/* fields.css */
.field-type-taxonomy-term-reference ul li {
	display: inline;
	zoom: 1;
}
