/**
 * IE 8 Compatibility Tweaks
 */
 input.form-submit, a.button{
	padding: 4px 10px;
}

 #mass_bottom-wrapper .views-field-field-image,
 .ui-accordion .views-field-field-image {
	min-width: 60px;
}


.block.contact-form .form-item{
	width: 191px;
}

.block.contact-form .form-text{
	width: 187px;
}

.block.contact-form .form-item.webform-component-textarea{
	min-height: 135px;
	width: 99%;
}

.block.contact-form .form-item.webform-component-textarea textarea{
	min-height: 105px;
}

.form-checkboxes .form-item, 
.form-radios .form-item{
	margin-bottom: 10px;
	margin-top: 10px;
}

.form-checkboxes .form-item .form-checkbox{
	padding: 0;
	margin: 3px 5px 0 0 !important;
}
 
.newsletter-form .form-text {
	width: 135px;
}

input.form-checkbox{
	padding: 0;
}

.newsletter-form input.form-submit {
	padding: 5px 10px;
}