#menu-bar-inner {
	background: #772F2C;
	border-right: 1px solid #5B211F;
	border-top: 1px solid #5B211F;
}

.sf-menu.sf-style-nex {
	float: left;
	margin-bottom: 0;
	padding: 0;
}

.sf-menu.sf-style-nex.sf-navbar {
	background: none;
	margin: 0;
	line-height: 1.6;
}

.sf-menu.sf-style-nex ul {
	padding: 0;
}

.sf-menu.sf-style-nex a {
	border-left: 1px solid #fff;
	border-top: 1px solid #CFDEFF;
	padding: 0.75em 1em;
	text-decoration: none;
}

.sf-menu.sf-style-nex a, 
.sf-menu.sf-style-nex a:visited {
	border-right: 1px solid #5B211F;
	border-left: 0;
	border-top: 0;
	color: #fff;
	display: block;
	padding: 13px 15px;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.sf-menu.sf-style-nex li.first a{
	border-left: 1px solid #5B211F;
}

.sf-menu.sf-style-nex li.active-trail a,
.sf-menu.sf-style-nex li a.active{
	background: url("../../images/hover-menu.gif") repeat-x left top #E5E5E5;
	border-right: 1px solid #fff !important;
	border-left: 1px solid #fff!important;
	color: #666;
	display: block;
	margin-bottom: -1px;
	margin-top: -1px;
	padding: 14px 15px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.sf-menu.sf-style-nex li.active-trail a.menuparent,
.sf-menu.sf-style-nex li a.active.menuparent{
	padding: 14px 15px 14px 27px;
}

.sf-menu.sf-style-nex li.first a.active{
	border-left: 1px solid #fff !important;
	border-right: 1px solid #fff !important;
}

.sf-sub-indicator {
	display: block;
	height: 10px;
	left: 0.75em;
	overflow: hidden;
	position: absolute;
	text-indent: -999em;
	top: 1.05em;
	width: 10px;
}

.sf-menu.sf-style-nex span.sf-description {
	color: #13a;
	display: block;
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 5px 0 0 5px;
	padding: 0;
}

.sf-menu.sf-style-nex li,
.sf-menu.sf-style-nex li li li,
.sf-menu.sf-style-nex li li,
.sf-menu.sf-style-nex.sf-navbar {
	background: none;
	margin: 0;
}

.sf-navbar li:focus ul,
.sf-navbar li:hover ul,
.sf-navbar li:active ul,
.sf-navbar li.sfHover ul,
.sf-navbar li li:focus ul,
.sf-navbar li li:hover ul,
.sf-navbar li li:active ul,
.sf-navbar li li.sfHover ul,
.sf-navbar .active-trail ul {
	left: 0;
	top: 39px;
}

.sf-navbar ul a > .sf-sub-indicator {
	display: none;
}

.sf-menu.sf-style-nex li.first a:hover,
.sf-menu.sf-style-nex li.sfHover a, 
.sf-menu.sf-style-nex a:focus, 
.sf-menu.sf-style-nex a:hover, 
.sf-menu.sf-style-nex a:active {
	background: #F2F2F2;
	border-color: #E5E5E5;
	color: #666;
	margin-bottom: -1px;
	margin-top: -1px;
	padding: 14px 15px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.sf-menu.sf-style-nex li.sfHover.menuparent a,
.sf-menu.sf-style-nex .menuparent a:hover,
.sf-menu.sf-style-nex .menuparent a:focus,
.sf-menu.sf-style-nex .menuparent a:active,
.sf-menu.sf-style-nex .menuparent a {
	padding-left: 27px;
}

.sf-menu.sf-style-nex .menuparent a  span{
	background: url("../../images/arrow3.png") no-repeat left center;
	left: 10px;
	top: 17px;
}

.sf-sub-indicator {
	display: block;
	background: url("../../images/arrow3.png") no-repeat left center !important;
	left: 10px !important;
	top: 17px !important;
	overflow: hidden;
	position: absolute;
	text-indent: -999em;
	height: 4px;
	width: 7px;
}


.sf-menu li:hover ul, 
.sf-menu li.sfHover ul {
	background: #222;
	left: 0;
	top: 39px;
	border: 4px solid #f2f2f2;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.sf-shadow ul{
	border-radius: 0 !important;
}


.sf-menu.sf-style-nex ul li.first a:hover,
.sf-menu.sf-style-nex ul a:focus, 
.sf-menu.sf-style-nex ul a:hover, 
.sf-menu.sf-style-nex ul a:active {
	background: #111;
	border-color: #E5E5E5;
	color: #666;
	margin-bottom: -1px;
	margin-top: -1px;
	padding: 14px 15px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.sf-menu.sf-style-nex li.sfHover ul li a {
	background: #222;
	margin: 0;
	color: #666;
	padding: 10px 15px !important;
	text-shadow: none;
	font-weight: 400;
	border: 0 !important;
	border-right: 1px solid #333 !important;
}

.sf-menu.sf-style-nex li.sfHover ul li.first  a {
	border-left: 0;
}

.sf-menu.sf-style-nex li.sfHover ul li  a span{
	background: 0;
	padding: 0;
}

.sf-menu.sf-style-nex li.sfHover ul li.first a:hover,
.sf-menu.sf-style-nex li.sfHover ul a:focus, 
.sf-menu.sf-style-nex li.sfHover ul a:hover, 
.sf-menu.sf-style-nex li.sfHover ul a:active {
	background: #111;
	border-color: #E5E5E5;
	color: #fff;
	margin: 0;
	padding: 10px 15px;
	text-shadow: none;
}

.sf-menu.sf-style-nex li.sfHover ul li  a.active{
	border: 0;
	background: #111;
	border-color: #E5E5E5;
	color: #fff;
	margin: 0;
	padding: 10px 15px;
	text-shadow: none;
}

.sf-menu.sf-style-nex ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-nex ul.sf-megamenu li.sf-megamenu-wrapper ol li {
	margin: 0;
	padding: 0;
}

.sf-menu.sf-style-nex ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
	margin-top: 10px;
	color: #FFFFFF;
	font-size: 105%;
	text-transform: uppercase;
	margin: 0;
	padding: 8px 0 8px 20px;
}

.sf-menu.sf-style-nex ul.sf-megamenu li.sf-megamenu-wrapper .first a.active {
	border-left: none !important;
	border-right: 1px solid #333 !important;
}

.sf-menu.sf-style-nex ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent:hover,
.sf-menu.sf-style-nex ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent:active,
.sf-menu.sf-style-nex ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent:focus {
	background: none;
}


.sf-menu.sf-style-nex ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	display: inline;
	float: left;
	width: 12em;
}

.sf-menu.sf-style-nex.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	float: right;
}

.sf-menu.sf-style-nex li.sf-parent-children-1 ul.sf-megamenu {
	width: 12em;
}

.sf-menu.sf-style-nex li.sf-parent-children-2 ul.sf-megamenu {
	width: 24em;
}

.sf-menu.sf-style-nex li.sf-parent-children-3 ul.sf-megamenu {
	width: 36em;
}

.sf-menu.sf-style-nex li.sf-parent-children-4 ul.sf-megamenu {
	width: 48em;
}

.sf-menu.sf-style-nex li.sf-parent-children-5 ul.sf-megamenu {
	width: 60em;
}

.sf-menu.sf-style-nex li.sf-parent-children-6 ul.sf-megamenu {
	width: 72em;
}

.sf-menu.sf-style-nex li.sf-parent-children-7 ul.sf-megamenu {
	width: 84em;
}

.sf-menu.sf-style-nex li.sf-parent-children-8 ul.sf-megamenu {
	width: 96em;
}

.sf-menu.sf-style-nex li.sf-parent-children-9 ul.sf-megamenu {
	width: 108em;
}

.sf-menu.sf-style-nex li.sf-parent-children-10 ul.sf-megamenu {
	width: 120em;
}