@charset "utf-8";
/* CSS Document */

/*Mega Menu CSS Start*/
.menu-container {
    width:100%;
    margin: 0 auto;
    background: #fff;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
/*    content: "\f394";
    font-family: "Ionicons";*/
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
/*    content: "\f489";
    font-family: "Ionicons";*/
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    /*background: #e9e9e9;*/
    padding: 0;
    margin: 0;
	border-right: 1px solid #ddd;
	position:relative;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 1px 20px;
	line-height:50px;
    display: block;
	text-transform: uppercase;
text-decoration: none;
font-size: 13px;
color: #121b60;
font-weight: 700;
}
/*.menu > ul > li a:hover{ background:url(../images/arrow-icon.png) no-repeat bottom center ; }*/
.menu > ul > li:hover {
    /*background: #f0f0f0;*/
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
   background: #0e0f32;
    padding: 8px 70px;
    position: absolute;
    z-index: 99;
   /* left: 0;*/
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}


.menu > ul > li:hover .submenu{ display:block;}
.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
	
}


.menu > ul > li > ul .top-arrow{
	width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
	position: absolute;
	top:-10px;
}
.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.menu > ul > li > ul > li a {
    color: #fff;
    padding: 0px 0;
    width: 95%;
	font-weight:normal;
    display: block;
    /*border-bottom: 1px solid #ccc;*/
	line-height:inherit;
	background:none !important;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding:4px 0;
    margin: 0;
    font-size: 13px;
	color:#fff;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}


.menu > ul > li .submenu-h a{
	border-bottom: 1px solid #00a5d9; color: #00a5d9;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
	text-align:center;
	font-size: 16px;
	background:none !important;
	/*text-decoration:underline;*/
	}
	
.menu > ul > li .submenu-h-2 a{
    font-weight: 700;
    text-transform: uppercase;
	font-size: 16px;
	color: #00a5d9;
	padding:0px;
	}	
	
.menu > ul > li .submenu-h-3 a{
    font-weight: 700;
    text-transform: uppercase;
    /*margin-bottom: 30px;*/
	font-size: 14px;
	color: #00a5d9;
	/*text-decoration:underline;*/
	border:0px;
	background:none !important;
	}		
.menu > ul > li .submenu-h-li a{
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px ;
	font-size: 14px;
	color: #00a5d9;
	}		
.right-col{
padding-left:70px;
border-left: 1px solid #065a86;
 height:100%;}	

.menu-2 .top-arrow{ left:20%;}
.menu-3 .top-arrow{ left:49%;}
.menu-4 .top-arrow{ left:45%;}
.menu-5 .top-arrow{ left:48%;}

.menu-full{ width:100vw !important;}
.menu-3 li{ width:100% !important;}
.menu-4 li{ width:100% !important;}
.menu-5 li{ width:100% !important;}

.menu-2{ left:-69% !important;}
.menu-3{ width:500px !important; left:-98%;}
.menu-4{ width:500px !important; left:-86%;}
.menu-5{ width:500px !important; left:-129% ;}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {

    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
		background:url(../images/mobile-nav.png) #121b60 no-repeat right;
		float:right; 
		width:50px; 
		padding:0px;
		height:40px; 
    }

    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
}

/*Mega Menu CSS End*/




