@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
}
.outer-wrapper header {
	box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.25);
	background:#fff;
}
.outer-wrapper header nav {
	background-color:#121b60;
	padding:0px;
	display:block;
}
.outer-wrapper nav .logo-d img {
	padding:8px 12px;
}
.outer-wrapper nav .navbar-collapse {
	display:inline-block;
}
.outer-wrapper nav .navbar-collapse ul {
	display:inline-block;
}
.outer-wrapper nav .navbar-collapse ul li {
	display:inline-block;
	border:0px;
}
.outer-wrapper nav .navbar-collapse ul li a {
	color:#fff;
	display:inline-block;
	background-color:#121b60;
	text-decoration:none;
	box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.25);
	padding:12px 15px;
	border-right: 1px solid #30376e;
}
.outer-wrapper nav .navbar-collapse ul li a:hover {
	background-color:#00a5d9;
}
.outer-wrapper nav .navbar-collapse ul li .icon {
	font-size: 24px;
	line-height: 31px
}
.outer-wrapper nav .navbar-collapse .nav-item .lnk-txt {
	display:inline-block;
	margin-left:3px;
	vertical-align:top;
	margin-top:5px;
	font-size:12px;
}
.content-section {
	display:block;
	margin-top:106px;
	background:#fff;
}
.breadcrumb-wrapper {
	display:block;
	line-height:36px;
	padding:0 20px;
}
.breadcrumb-wrapper ol {
	padding:0px;
	margin:0px;
}
.breadcrumb-wrapper ol li:before {
	content:'\003E' !important;
	padding:0px 4px !important;
}
.breadcrumb-wrapper ol li:last-child:before {
	content:none;
}
.banner-top {
	text-align:center;
	text-shadow:1px 1px 16px rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 0 0 1000px rgba(0, 0, 0, 0.2); /*word-wrap: break-word;*/
	padding:6.5%;
	background-image:url(../images/short-term-005.jpg);
	background-repeat:no-repeat;
}
.banner-full {
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
}
.banner-top h2 {
	color:#fff;
	text-transform: uppercase;
	font-weight:700;
	font-size: 68px;
	padding:20px 0 0 0;
}
.banner-top .head-subtitle {
	font-size: 24px;
	color:#fff;
	font-weight:700;
	margin-bottom:20px;
}
.logo-mobile {
	display:none;
	padding: 15px 12px;
	float:left;
	width:155px;
}
.logo-mobile img {
	width:128px;
}
.contact-form {
	background-color:#eee;
	padding-top:40px;
	padding-bottom:45px;
}
.contact-form .container-f {
	max-width:750px;
	margin-left:auto;
	margin-right: auto;
}
.contact-form h2 {
	font-size:28px;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
}
.contact-form h2 span {
	display:block;
	color: #606060;
	font-size:14px;
	text-transform:capitalize;
	font-weight:normal;
	margin:12px 0 0 0;
}
.contact-form .container-f .form-bg {
	box-shadow:rgba(0, 0, 0, 0.247059) 0 5px 18px 0;
	background:#fff;
	margin-bottom:30px;
	margin-top:30px;
}
.contact-form .container-f .form-bg .head {
	padding:10px 15px;
	color: #fff;
	background:#232977;
	font-weight:700;
	font-size:16px;
}
.contact-form .container-f .form-bg .container {
	margin:20px 0;
}
.contact-form .container-f .form-bg .form-group {
	position:relative;
	margin-bottom:30px;
}
.contact-form .container-f .form-bg .form-group .form-control::placeholder {
color:#ccc;
opacity: 1;
}
.contact-form .container-f .form-bg .form-group label {
	font-weight:700;
	color:#606060;
}
.contact-form .container-f .form-bg .form-group select {
	font-size:14px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	padding-right:33px;
	background: #fff url(../images/select-arrow.png) right 6px center no-repeat;
	border-radius:0;
}
.contact-form .container-f .form-bg .form-group textarea {
	border-radius:0;
	font-size:14px;
	width:100%;
}
.contact-form .container-f .form-bg .form-group input {
	border-radius:0;
	font-size:14px;
}
.contact-form .container-f .form-bg .form-group .note-phone {
	font-size:12px;
}
.contact-form .container-f .form-bg .sep:before {
	position:absolute;
	bottom:7px;
	height:20px;
	right: 29px;
	width:1px;
	content:" ";
	background:#ddd;
	right:30px;
}
.contact-form .container-f .form-bg .form-group select:focus {
	outline:0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(224, 103, 11, 0.6);
	border-color:#999;
}
.contact-form .container-f .right-check .form-check {
	padding-right: 1.25rem;
}
.contact-form .container-f .right-check .form-check input {
	right:0px;
}
.contact-form .container-f .form-bg .form-group .f-required {
	color:#fd0505;
	font-weight:700;
}
.contact-form .container-f button {
	background:#00a5d9;
	border:none;
	max-width:320px;
	margin:10px 0;
	width:100%;
	padding:16px 34px;
	font-size:16px;
	line-height:1.33;
}
.contact-form .container-f button:hover {
	background:#121b60;
}
/*.modal-backdrop{opacity:0.9 !important;}*/
#searchModal {
	padding-top:50px;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 1;
}
#searchModal .close {
	position:absolute;
	right:10px;
	z-index:9;
	font-size:15px;
	top:7px;
}
#searchModal .modal-body {
	padding:0px;
}
#searchModal .search-row {
	padding:17px 20px;
	display:inline-block;
	background:#fff;
	width:100%;
}
#searchModal .search-row input {
	display:inline-block;
	position:relative;
	width:100%;
	font-size: 24px;
	height: 36px;
	border:0px;
}
#searchModal .search-row input:focus {
	border:none !important;
	box-shadow:none !important;
}
#searchModal .search-row button {
	background:none;
	color:#333;
	font-size:30px;
	display:inline-block;
	padding:0px;
	margin:0px;
	position:absolute;
	right:36px;
	top:27px;
	border:none !important;
}
#searchModal .search-row button:hover {
	border:none !important;
}
#searchModal .search-row button:focus {
	border:none !important;
}
.course-section {
	display:block;
	padding:5% 0;
	text-align:center;
	position:relative;
}
.course-section h3 {
	position:relative;
	text-transform: uppercase;
}
.course-section h3 span {
	font-size:18px;
	font-weight:bold;
	overflow:hidden;
	margin-bottom:-12px;
}
.course-section h3 span:before {
	content:"";
	position:absolute;
	height:1px;
	background-color:#ccc;
	top:10px;
	width:330px;
	left:0;
	margin-right:15px;
}
.course-section h3 span:after {
	content:"";
	position:absolute;
	height:1px;
	background-color:#ccc;
	top:10px;
	width:330px;
	right:0;
	margin-left:15px;
}
.course-section .box-container {
	padding:30px 80px;
	height:396px;
}
.course-section .box {
	position:relative;
	height:100%;
	background-color:#fff;
	border:1px solid #ddd;
	text-align:center;
	box-shadow:0 0 30px 0 rgba(0, 0, 0, 0.1);
	width:270px;
	display:inline-block;
	margin:0 20px;
	vertical-align:top; /*padding:0 0 64px 0;*/
}
.course-section .box:hover {
	box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.25);
}
.course-section .box .content {
	padding:0 15px 0px;
}
.course-section .box img {
	width:100%;
	margin-bottom:9px;
}
.course-section .box h4 {
	font-size:15px;
	line-height:1.2;
	font-weight:700;
	color:#007db3;
	margin:0 0 9px 0;
	padding:0;
}
.course-section .box p {
	display:inline-block;
	font-size:13px;
	margin-bottom:12px;
}
.course-section .box .btn-gy a {
	display:inline-block;
	font-size:13px;
	text-transform:uppercase;
	background-color:#ddd;
	color:#007db3;
	border:none;
	padding:7px 16px;
	text-decoration:none;
}
.course-section .box .btn-gy a:hover {
	background-color:#007db3;
	color:#fff;
}
.choose-section {
	display:block;
	padding:5% 0 2% 0;
	text-align:center;
	position:relative;
}
.choose-section h2 {
	font-weight:bold;
	font-size: 32px;
	text-transform:uppercase;
}
.choose-section .icons {
	font-family: 'kie';
	content:"\e986";
	display:block;
	width:86px;
	height:86px;
	margin:12px auto 20px;
	color:#fff;
	font-size:36px;
	line-height:86px;
	text-align:center;
	border-radius: 50%;
	overflow:hidden;
	background:#7c6fa8;
	background:linear-gradient(135deg, #7c6fa8 0%, #503f8b 100%);
}
.choose-section .bean:before {
	content: "\e62d";
}
.choose-section .better-english:before {
	content:"\e62c";
}
.choose-section .english-system:before {
	content:"\e62e";
}
.choose-section h3 {
	font-size:18px;
	color:#202020;
	font-weight:700;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:8px;
}
.choose-section p {
	font-size:14px;
	line-height:1.42857143;
	text-align:left;
	color:#606060;
	margin-bottom:10px;
}
.choose-section .col-box {
	padding:10px 40px;
}
.choose-section .btn-gy a {
	display:inline-block;
	font-size:13px;
	text-transform:uppercase;
	background-color:#ddd;
	color:#007db3;
	border:none;
	padding:7px 16px;
	text-decoration:none;
}
.choose-section .btn-gy a:hover {
	background-color:#007db3;
	color:#fff;
}
.offer-course {
	padding: 5% 0;
	display:block;
}
.offer-course h3 {
	color:#202020;
	font-weight:700;
	font-size:32px;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:1.2em;
}
.offer-course .tab-container {
	display:block;
	text-align:center;
}
.offer-course .tab-container .card-header {
	color:#404040;
	margin-bottom:2px;
}
.offer-course .tab-container .panel-heading.active {
	background: #4f3f8c;
}
.offer-course .tab-container .panel-heading.active a {
	color:#fff !important;
}
.offer-course .tab-container ul {
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
	/*border-bottom:4px solid #ddd;*/
	display:block;
}
/*.offer-course .tab-container ul li {
	display:inline-block;
	margin:0;
}*/
/*.offer-course .tab-container ul li a {
	border:none;
	display:inline-block;
	width:auto;
	height:auto;
	text-align:center;
	text-indent:0;
	margin:0 4px;
	margin-bottom:0px;
	margin-bottom:-3px;
	padding:6px 15px;
	font-size:13px;
	background:none;
	text-transform:uppercase;
	border:none;
	border-bottom-color:currentcolor;
	border-bottom-style:none;
	border-bottom-width:medium;
	border-bottom:4px solid transparent;
	font-weight:700;
	color:#bcb3b3;
	text-decoration:none;
	opacity: 6;
	filter:alpha(opacity=60);
}*/

.offer-course .tab-container ul li a:after {
}
.offer-course .tab-container ul li a:hover {
	border-bottom: 4px solid #503f8b;
}
.offer-course .tabs-htd {
	padding:0;
	margin: 0;
	text-align: center;
	border-bottom: 4px solid #ddd;
}
.offer-course .tab-container .flag-icons {
	background:url(../images/kaplan_country_sprites.png) no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	width:24px;
	height:24px;
	margin:0 auto;
	display:block;
}
.offer-course .tab-container .uk-f {
	background-position: -345px -447px;
}
.offer-course .tab-container .ir-f {
	background-position: -277px -175px;
}
.offer-course .tab-container .nz-f {
	background-position: -5px -345px;
}
.offer-course .tab-container .ca-f {
	background-position: -5px -73px;
}
.offer-course .tab-container .us-f {
	background-position: -379px -447px;
}
.offer-course .tab-container .btn-gy {
	width:24.5%;
	padding:0px;
	display:inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 1px;
}
.offer-course .tab-container p {
	display:block;
}
.offer-course .tab-container .btn-gy a {
	height:46px;
	padding:0 8px;
	font-size:13px;
	line-height:16px;
	background-color:#f0f0f0;
	text-decoration:none;
	overflow:hidden;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-pack:center;
	justify-content:center;
	-ms-flex-align: center;
	align-items:center;
	color:#1b73bb;
	margin:0px;
	font-weight:normal;
	border:0px !important;
	text-transform:capitalize;
}
.offer-course .tab-container .btn-gy a:hover {
	background-color:#007db3;
	color:#fff;
	text-decoration:none;
}
/*.offer-course .tab-container .card-body {
	padding:0px;
	border:0px;
}
.offer-course .tab-container .tab-pane {
	border-bottom: 1px solid #ddd;
	padding-bottom:14px;
}
.offer-course .tab-container #content {
	margin-top:14px;
}*/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border-bottom:4px solid #503f8b;
	color: #503f8b;
}
.tab-menu-content {
	padding:10px 0;
	display:block;
	text-align:center;
}
.tab-menu-content ul {
	margin:0;
	padding:0;
	margin-top: 8px;
	border-bottom: 1px solid #ddd;
}
.tab-menu-content ul li {
	list-style-type:none;
	display:inline-block;
}
.tab-menu-content ul li a:hover {
	border-bottom: 3px solid #503f8b;
}
.tab-menu-content ul li a {
	font-weight: 700;
	margin: 0 8px;
	display:inline-block;
	border-bottom: 3px solid #fff;
	padding: 16px 8px;
	text-decoration: none;
	text-transform: uppercase;
	color: #240f6e;
	font-size:13px;
}
.region-container {
	padding:4% 0;
	display:block;
}
.region-container h2 {
	color:#202020;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin:0 6% 20px 6%;
}
.region-container .grey-box {
	border:1px solid #e9e7f0;
	border-bottom-color:rgb(233, 231, 240);
	border-bottom-style:solid;
	border-bottom-width: 1px;
	border-bottom: 4px solid #d3cfe2;
	padding:15px;
	background-color: #e9e7f0;
}
.region-container .grey-box img {
	width:80px;
	height:80px;
	vertical-align:top;
	margin:0 10px 10px 0;
	float:left;
}
.region-container .grey-box .content {
	display:block;
}
.region-container .grey-box .content p {
	font-size: 13px;
	line-height: 1.4;
	color: #404040;
}
.region-container .grey-box h4 {
	font-size: 16px;
	line-height: 1.2;
	color: #202020;
	margin-bottom: 6px;
	display:inline-block;
}
.region-container .grey-box .content p a {
	color: #404040;
	text-decoration:underline;
}
.region-container .container {
	width:1170px;
}
.region-container .left .listing-box {
	display:block;
	margin:20px 0;
}
.region-container .left .text-p {
	font-size:16px;
}
.region-container .left .listing-box ul {
	margin:0;
	padding:0;
}
.region-container .left .listing-box ul li {
	margin:6px 0;
	list-style-type:none;
	padding-left:20px;
}
.region-container .left .listing-box ul li:before {
	font-family: kie;
	position:relative;
	content: '\e67c';
	font-size: 14px;
	top: -1px;
	left: -20px;
	color: #503f8b;
	display: block;
	height: 0;
	width: 0;
}
.region-container .left .blue-btn {
	display:block;
}
.region-container .left .blue-btn a {
	text-align: center;
	min-width: 290px;
	display: inline-block;
	padding: 14px 8px;
	color:#fff;
	background-color: #007db3;
	margin-bottom: 12px;
	line-height: 1.1;
	font-size: 16px;
	font-weight: 600;
	border: 0;
	text-decoration:none;
	position: relative;
	z-index: 1;
}
.region-container .left .blue-btn a span {
	font-size: 10px;
	font-weight: 400;
	display:block;
}
.region-container .left .blue-btn a:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #240f6e;
transition: width .3s;
}
.region-container .left .blue-btn a:hover:before {
	width:100%;
}
.region-container .left .blue-btn:hover {
	width:100%;
}
.region-container .left .downloads-lnk {
	padding: 14px 8px;
	display:block;
	margin-top: 3px;
	margin-bottom: 12px;
}
.region-container .left .downloads-lnk a {
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: underline;
	color: #1b73bb;
	clear: left;
	position: relative;
	top: -12px;
}
.region-container .right {
	background-color: #eee;
	display:inline-block;
	color: #404040;
	box-shadow: 2px 2px 28px 0 rgba(0, 0, 0, 0.25);
	padding: 20px;
}
.region-container .right h3 {
	font-size: 18px;
	color: #202020;
	font-weight: 700;
	text-transform: uppercase;
}
.region-container .right ul {
	padding:0;
	margin:0;
}
.region-container .right ul li {
	border-top: 1px solid #ddd;
	list-style-type: none;
	display: block;
	clear: both;
	margin-top: 6px;
	margin-bottom: 6px;
}
.region-container .right ul .head {
	float:left;
	width:36%;
	line-height: 1.42857143;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #503f8b;
	text-overflow: ellipsis;
	padding:6px 0;
}
.region-container .right ul li .rigth-list {
	float: left;
	overflow: hidden;
	width: 64%;
	padding-left: 15px;
	font-size: 14px;
	line-height: 1.33;
	padding:6px 0;
}
.region-container .right ul li .my-entry-level {
	display:block;
}
.region-container .right ul li .my-entry-level a {
	font-size:12px;
	color: #1b73bb;
}
.region-container .right .course {
	display:block;
	border-top: 1px solid #ddd;
	float:left;
	width:100%;
	border-bottom: 1px solid #ddd;
	margin:10px 0 0 0;
	padding:6px 0 0 0;
}
.region-container .right .course .head {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #503f8b;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: left;
}
.region-container .right .course .listing-box {
	display:block;
}
.region-container .right .course .listing-box ul {
	margin:0;
	padding:0;
}
.region-container .right .course .listing-box ul li {
	margin:6px 0;
	list-style-type:none;
	padding:0px;
	border:0px;
}
.region-container .right .course .listing-box ul li:before {
	font-family: kie;
	position:relative;
	font-family: kie;
	content: '\e67c';
	font-size: 10px;
	top: -1px;
	color: #7176a0;
	display: inline;
	left: 0;
	position: relative;
}
.region-container .right .find-lnk {
	display:block;
	margin-top: 5px;
}
.region-container .right .find-lnk a {
	font-weight:700;
	text-transform: uppercase;
	text-decoration: underline;
	display:inline-block;
	color: #1b73bb;
	clear: left;
	margin-top: 8px;
	position: relative;
	top: -12px;
	font-size:12px;
}
.region-container .right .find-text {
	float: none;
	border-top: 1px solid #ddd;
	padding-top: 5px;
	display:inline-block;
}
.region-container .right .fact-lnk {
	padding:7px 16px;
	text-decoration:none;
	background-color:#503f8b;
	font-size:12px;
}
.region-container .right .fact-lnk:hover {
	background-color:#503f8b;
	color:#fff;
}
.testimonials-section {
	display:block;/* width: 101vw;
left: calc(-50vw + 50%);*/
	position: relative;
	background:url(../images/testimonial-bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.testimonials-section .modal-dialog {
	max-width: 800px;
	margin: 30px auto;
}
.testimonials-section .modal-body {
	position:relative;
	padding:0px;
}
.testimonials-section .close {
	position:absolute;
	right:-30px;
	top:0;
	z-index:999;
	font-size:2rem;
	font-weight: normal;
	color:#fff;
	opacity:1;
}
.testimonials-section .right-img {
	cursor: pointer;
	display: block;
	height: 370px;
	overflow: hidden;
	outline: currentcolor none medium;
	position: relative;
	width: 555px;
}
/*.testimonials-section .right-img .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.testimonials-section .right-img:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}*/

.testimonials-section .right-img img {
	width:100%;
}
/* .center-icon{
	position: absolute;
	left:100px;
	top: 12px;
	height: 81px;
	position: absolute;
	width: 127px;
	}*/

.testimonials-section .right-img .icon {
	height: 81px;
	position: absolute;
	width: 127px;
	z-index: 1;
	background-color: rgba(123, 121, 106, 0.76);
	left: 40%;
	top: 40%;
	bottom:0;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
 -webkit-transition: .3s ease;
 transition: .3s ease;
	text-align:center;
	overflow:hidden;
}
.testimonials-section .right-img:hover .icon {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color: rgba(123, 121, 106, 0.3);
}
.testimonials-section .right-img:hover .icon img {
	top: 40.3%;
	position:relative;
	left: -0.5%;
}
.testimonials-section .right-img:hover .icon span {
	top: 40%;
	position:relative;
	left: 0;
}
.testimonials-section .right-img .icon span {
	display:block;
	color:#fff;
	font-size:14px;
}
.testimonials-section .right-img .icon img {
	width:auto !important;
	vertical-align:middle;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin:60px auto 0 auto;
	padding: 0 10px;
}
.carousel-inner {
}
.carousel .item {
	color: #fff;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 240px;
	padding:20px 60px 0px 60px;
}
.carousel .namecol {
	width:100%;
	display:block;
	text-align:left;
}
.carousel .item .img-box {
	width:75px;
	height:75px;
	/*	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;*/
	border-radius: 50%;
	display:inline-block;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 0 0;
	font-size: 15px;
	font-style:italic;
	text-align:left;
	margin:0px;
}
.carousel .overview {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	display:inline-block;
	vertical-align:top;
	margin:20px 0 0 10px;
	line-height:17px;
}
.carousel .overview span {
	font-style: italic;
	display:block;
	font-weight:normal;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #fff;
}
.carousel .carousel-control {
	top: calc(40%);
	width: 46px;
	height: 46px;
	margin: 0;
	background-color: #fff !important;
	color: #503f8b;
	text-align: center;
	line-height: 46px;
	text-shadow: none;
	position: absolute;
}
/*.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}*/
.carousel .left {
	left:-20px;
}
.carousel .left:before {
	content: "\e9b5";
	font-style: normal;
	font-family: 'kie';
}
.carousel .right {
	right:-10px;
}
.carousel .right:before {
	content: "\e9b6";
	font-style: normal;
	font-family: 'kie';
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin:-3px 3px 1px 3px;
	border-radius: 50%;
	border:1px solid #fff;
}
.carousel-indicators li {
	border:1px solid #fff;
	background: transparent;
	width: 10px;
	height: 10px;/*border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);*/
}
.carousel-indicators li.active {
	background: #fff;/*box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);*/
}
.program-container {
	padding: 5% 0;
	display:block;
	background:#eee;
}
.program-container h2 {
	color: #202020;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.5em;
	font-size:32px;
	width:100%;
}
.program-container .content-box {
	display:block;
	text-align:center;
}
.program-container .content-box .block {
	height: 100%;
	width:33.33333333%;
	position:relative;
	padding:28px;
	text-align: left;
	background-color: #fff;
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.025);
	display:inline-block;
	margin:0 14px;
	vertical-align:top;
}
.program-container .content-box .block .title {
	text-align: left;
}
.program-container .content-box .block .title .lg-hd {
	float: left;
	font-size: 36px;
	line-height: 36px;
	font-weight: 800;
	color: #503f8b;
	vertical-align: middle;
	padding-right: 8px;
}
.program-container .content-box .block .title .text-head {
	display: table-cell;
	min-height: 36px;
	height: 36px;
	vertical-align: middle;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	color: #202020;
	overflow: hidden;
	text-align: left;
}
.program-container .content-box .plus:before {
	font-family: 'kie';
	content: '\e985';
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	left: -25px;
	margin-top: -15px;
	font-size: 18px;
	line-height: 30px;
	color: #503f8b;
}
.program-container .content-box .block p {
	clear: both;
	padding-top: 12px;
	font-size: 14px;
	text-align: left;
}
 @media(min-width:768px) {
 .nav-tabs {
 display: flex;
}
 .card {
 border: none;
}
 .card .card-header {
 display:none;
}
 .card .collapse {
 display:block;
}
}
 @media(max-width:767px) {
 .tab-pane {
 display: block !important;
 opacity: 1;
}
}
.footer {
	background-color:#202020;
	color:#ccc;
	margin:0;
	font-weight:300;
}
.footer .email-row {
	padding:20px 0;
	border-bottom:1px solid rgba(255, 255, 255, 0.1);
}
.footer .email-row .block-content h2 {
	color:#fff;
	margin:4px 0;
	font-size:24px;
}
.footer .email-row .block-content p {
	color:#fff;
	margin:4px 0;
}
.footer .email-row .form-section form input {
	width:68%;
	padding:0 10px;
	color:#606060;
	float:left;
	margin:0px !important;
	height:38px;
}
.footer .email-row .form-section form button {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	border:medium none;
	font-size:16px;
	font-weight:400;
	height:38px;
	line-height:normal;
	width:30%;
	margin:0 0 8px 2px;
	background-color:#00a5d9;
	color:#fff;
	text-transform:uppercase;
	float:left;
}
.footer .link-row {
	padding-top:30px;
	position:relative;
}
.footer .link-row .goto-top {
	position:absolute;
	top:-42px;
	right:0;
	background-color:#202020;
	border:1px solid rgba(255, 255, 255, 0.1);
	border-bottom-color:rgba(255, 255, 255, 0.1);
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom:1px solid #202020;
}
.footer .link-row .goto-top .toparrow {
	background: url(../images/index.png) top no-repeat;
	width: 80px;
	height: 32px;
	box-shadow: none !important;
	filter: alpha(opacity=40);
	opacity: .4;
	display:inline-block;
	padding: 0px 16px;
	margin:9px 0 0 0;
}
.footer .link-row .links-top ul {
	padding:0;
	margin:0;
	list-style-type:none;
}
.footer .link-row .links-top ul li {
	float:left;
	padding:3px 14px;
	padding-left:14px;
	padding-left:0;
}
.footer .link-row .links-top ul li a {
	text-transform:uppercase;
	font-size:13px;
	font-weight:700;
	color:#fff;
}
.footer .link-row .links-small ul {
	padding:0;
	margin:0;
	list-style-type:none;
}
.footer .link-row .links-small ul li {
	float:left;
	padding:3px 11px;
	padding-left:0;
}
.footer .link-row .links-small ul li a {
	font-size:14px;
	color:#fff;
}
.footer .link-row .link-btns {
	padding:20px 0;
	color:#aaa;
	display: inline-block;
}
.footer .link-row .link-btns p {
	margin:0px;
}
.footer .link-row .link-btns p a:hover {
	color:#fff;
	background-color:#240f6e;
	border:1px solid #00a5d9;
}
.footer .link-row .link-btns p .phone-no {
	display:inline-block;
	color:#fff;
	font-weight:400;
	background-color:transparent;
	padding:7px 5px;
	margin:3px 0;
}
.footer .link-row .link-btns p .or {
	color:#666;
}
.footer .logo-block {
	padding:0 0 24px 0;
}
.footer .logo-block h3 {
	font-size:14px;
	color:#aaa;
	font-weight:700;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:14px;
}
.footer .logo-block .block img {
	opacity:.5;
	filter:alpha(opacity=50);/*	transform-origin-x:0;
	transform-origin-y:0;*/
}
.footer .logo-block .block img:hover {
	opacity:inherit;
}
.footer .logo-block .block h3 {
	font-size:14px;
	margin:0 0 10px 0;
	color:#aaa;
	font-weight:bold;
}
.footer .social-icon-col {
	position:relative;
	overflow:hidden;
	margin:0;
	float:right;
	display:inline-block;
}
.footer .social-icon-col ul {
	padding:0;
	margin:0;
	list-style-type:none;
}
.footer .social-icon-col ul li {
	padding:0 0 0 14px;
	display:inline-block;
}
.footer .social-icon-col ul li a {
	font-size:30px;
	color:#fff;
	cursor: pointer;
	text-decoration:none;
}
.footer .social-icon-col ul li a:hover {
	color:#00a5d9;
}
.footer .blog-col {
	text-align:right;
	padding:15px 0;
	float:right;
}
.footer .blog-col .btn {
	display:inline-block;
	position:relative;
	border:1px solid #00a5d9;
	background:#202020;
	color:#00a5d9;
	font-size:13px;
	font-weight:400;
	text-transform:uppercase;
	border-radius:50px;
	padding-left:20px;
	padding-right:20px;
}
.footer .blog-col .btn:before {
	content:'';
	position:absolute;
	border-style:solid;
	border-width:15px 12px 0 0;
	border-color:#00a5d9 transparent;
	display:block;
	width:0;
	z-index:0;
	bottom:-16px;
	left:auto;
	right:18px;
}
.footer .blog-col .btn:after {
	content:'';
	position: absolute;
	border-style:solid;
	border-width:15px 12px 0 0;
	border-color:#202020 transparent;
	display:block;
	width:0;
	z-index:1;
	bottom:-13px;
	left:auto;
	right:17px;
}
.footer .copyright {
	padding:15px 0;
	border-top:1px solid #404040;
	font-size:12px;
	color:#aaa;
}
.footer .copyright p a {
	color:#aaa;
}
#mobile-menu {
	display:none;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
	border:0;
	list-style:none;
	line-height:1;
	display:block;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#cssmenu:after, #cssmenu > ul:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
}
#cssmenu #head-mobile {
	display:none
}
#cssmenu {
	font-family:sans-serif;
	background:#fff;
}
#cssmenu > ul > li {
	float:left;
	/*border-bottom: 1px solid #00a5d9;*/
	text-transform:uppercase;
	font-size:14px;
}
#cssmenu > ul > li > a {
	padding:12px 15px;
	font-size:14px;
	letter-spacing:1px;
	text-decoration:none;
	color:#ddd;
	font-weight:500;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
	background: #121b60;
}
#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
	color:#fff
}
#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
	background:#0d1343!important;
-webkit-transition:background .3s ease;
-ms-transition:background .3s ease;
transition:background .3s ease;
}
#cssmenu > ul > li.has-sub > a {
	padding-right:30px;
	color:#fff;
}
#cssmenu > ul > li.has-sub > a:after {
	position:absolute;
	top:22px;
	right:11px;
	width:8px;
	height:2px;
	display:block;
	background:#ddd;
	content:''
}
#cssmenu > ul > li.has-sub > a:before {
	position:absolute;
	top:19px;
	right:14px;
	display:block;
	width:2px;
	height:8px;
	background:#ddd;
	content:'';
-webkit-transition:all .25s ease;
-ms-transition:all .25s ease;
transition:all .25s ease
}
#cssmenu > ul > li.has-sub:hover > a:before {
	top:23px;
	height:0
}
#cssmenu ul ul {
	position:absolute;
	left:-9999px
}
#cssmenu ul ul li {
	height:0;
-webkit-transition:all .25s ease;
-ms-transition:all .25s ease;
	background:#333;
transition:all .25s ease;
	border-bottom: 1px solid rgba(0, 165, 217, 0.4);
}
#cssmenu ul ul li:hover {
}
#cssmenu li:hover > ul {
	left:auto
}
#cssmenu li:hover > ul > li {
	height:35px
}
#cssmenu ul ul ul {
	margin-left:100%;
	top:0
}
#cssmenu ul ul li a {
	border-bottom:1px solid rgba(150, 150, 150, 0.15);
	padding:11px 15px;
	width:170px;
	font-size:14px;
	text-decoration:none;
	color:#ddd;
	font-weight:400;
}
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
	border-bottom:0
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
	color:#fff
}
#cssmenu ul ul li.has-sub > a:after {
	position:absolute;
	top:16px;
	right:11px;
	width:8px;
	height:2px;
	display:block;
	background:#ddd;
	content:''
}
#cssmenu ul ul li.has-sub > a:before {
	position:absolute;
	top:13px;
	right:14px;
	display:block;
	width:2px;
	height:8px;
	background:#ddd;
	content:'';
-webkit-transition:all .25s ease;
-ms-transition:all .25s ease;
transition:all .25s ease
}
#cssmenu ul ul > li.has-sub:hover > a:before {
	top:17px;
	height:0
}
#cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
	background:#363636;
}
#cssmenu ul ul ul li.active a {
	border-left:1px solid #333
}
#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active> a {
	border-top:1px solid #333
}
 @media screen and (max-width:1000px) {
.logo {
position:absolute;
top:0;
left: 0;
width:100%;
height:46px;
text-align:center;
padding:10px 0 0 0;
float:none
}
.logo2 {
display:none
}
nav {
width:100%;
}
#cssmenu {
width:100%
}
#cssmenu ul {
width:100%;
display:none;
margin:6px 0 0 0;
background:#0d1343;
padding:0;
}
#cssmenu ul .top-arrow {
 width: 0;
 height: 0;
 border-left: 10px solid transparent;
 border-right: 10px solid transparent;
 border-bottom: 10px solid black;
 position: absolute;
 top:-9px;
 right:20px;
}
 #cssmenu ul li {
width:100%;
/*border-top:1px solid #444*/
}
#cssmenu ul li:hover {
background:#363636;
}
#cssmenu ul ul {
padding:0 0 0 20px;
background:#0d1343;
 border-top:1px solid #00a5d9;
}
#cssmenu ul ul .arrow {
width: 0;
 height: 0;
 border-right: 12px solid transparent;
 border-top: 12px solid #00a5d9;
 position: absolute;
 top:0px;
 left:0px;
}
 #cssmenu ul ul h5 {
text-transform: uppercase;
color: #00a5d9 !important;
font-size: 16px !important;
 font-weight: 700 !important;
border-bottom: 1px solid rgba(0, 165, 217, 0.4) !important;
padding:10px 0 10px 0;
}
#cssmenu ul ul li, #cssmenu li:hover > ul > li {
height:auto
}
#cssmenu ul li a, #cssmenu ul ul li a {
width:100%;
border-bottom:0;
color: #00a5d9;
text-decoration:none;
}
#cssmenu > ul > li {
float:none
}
/*#cssmenu ul ul li a{padding-left:25px}*/
#cssmenu ul ul li {
background:#0d1343!important;
background-color: rgba(0, 0, 0, 0.3);
border:0px;
}
#cssmenu ul ul li a {
border-bottom: 1px solid rgba(0, 165, 217, 0.4) !important;
text-transform:capitalize;
}
#cssmenu ul ul li:hover {
background-color: rgba(0, 0, 0, 0.3);
}
#cssmenu ul ul ul li a {
padding-left:35px
}
#cssmenu ul ul li a {
color:#ddd;
background:none;
padding: 11px 0;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
color:#fff
}
#cssmenu ul ul, #cssmenu ul ul ul {
position:relative;
left:0;
width:100%;
margin:0;
text-align:left
}
#cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
display:none
}
#cssmenu #head-mobile {
display:block;
padding:23px;
color:#ddd;
font-size:12px;
font-weight:700
}
.button {
width:46px;
height:36px;
position:absolute;
right:0;
top:0;
cursor:pointer;
z-index: 12399994;
background:#121b60;
padding:10px;
margin:8px 8px 0 0;
}
.button .icon-bar {
display: block;
width: 100%;
height:2px;
line-height:1px;
border-radius:2px;
background-color: #fff;
margin-bottom: 5px;
}

/*.button:after{position:absolute;top:22px;right:20px;display:block;height:4px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}*/
#cssmenu .submenu-button {
position:absolute;
z-index:99;
right:0;
top:0;
display:block;
border-left:1px solid #444;
height:46px;
width:46px;
cursor:pointer
}
#cssmenu .submenu-button.submenu-opened {
background:#262626
}
#cssmenu ul ul .submenu-button {
height:34px;
width:34px
}
#cssmenu .submenu-button:after {
position:absolute;
top:22px;
right:19px;
width:8px;
height:2px;
display:block;
background:#ddd;
content:''
}
#cssmenu ul ul .submenu-button:after {
top:15px;
right:13px
}
#cssmenu .submenu-button.submenu-opened:after {
background:#fff
}
#cssmenu .submenu-button:before {
position:absolute;
top:19px;
right:22px;
display:block;
width:2px;
height:8px;
background:#ddd;
content:''
}
#cssmenu ul ul .submenu-button:before {
top:12px;
right:16px
}
#cssmenu .submenu-button.submenu-opened:before {
display:none
}
#cssmenu ul ul ul li.active a {
border-left:none
}
#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
border-top:none
}
}
/*Index-2 Start*/
.banner-section-top {
	display:block;
	padding:10px 3px;
}
.full-bg {
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}
.banner-section-top .inner-banner {
	display: flex;
	width:100%;
}
.banner-section-top .inner-banner .large-right {
	display: inline-block;
	width:68%;
	max-width:68%;
	border:4px solid transparent;
}
.banner-section-top .inner-banner .large-right .bg-img {
	background-image:url(../images/2018q3--hp-hero--lg.jpg);
}
.banner-section-top .inner-banner .large-right .bg-img-light {
	background-image:url(../images/k-pattern.png);
}
.banner-section-top .inner-banner .large-right .ks-logo {
	display:inline-block;
	width:15%;
	max-width:176px;
}
.banner-section-top .inner-banner .large-right .ks-logo img {
	max-width:100%;
	height:auto;
	display:block;
}
.banner-section-top .inner-banner .large-right .banner-text {
	padding:10% 7% 7%;
}
.banner-section-top .inner-banner .large-right .banner-text h2 {
	font-size: 52px;
	color:#fff;
	margin-bottom:.25em;
	font-weight:800;
	text-transform:uppercase;
}
.banner-section-top .inner-banner .large-right .banner-text .tag-line {
	font-size:30px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: .5em;
	line-height: 1em;
	color:#fff;
}
.banner-section-top .inner-banner .large-right .button-section {
	display:block;
	padding-top:30px;
}
.banner-section-top .inner-banner .large-right .button-section .btn-blue {
	display:inline-block;
}
.banner-section-top .inner-banner .large-right .button-section .btn {
	display:inline-block;
	line-height:1.1 !important;
	text-decoration:none;
	text-align:center;
	position:relative;
	z-index:1;
	font-size:14px !important;
	font-weight:700;
	border-radius:0;
	margin:0px;
	border:0px;
	padding:1.4em 2.8em;
}
.banner-section-top .inner-banner .large-right .button-section .btn:hover:before {
	width:100%;
}
.banner-section-top .inner-banner .large-right .button-section .btn:hover {
	color: #FFF;
	border: 1px solid #240F6E !important;
}
.banner-section-top .inner-banner .large-right .button-section .btn-1 {
	background-color: #007DB3;
	border: 1px solid transparent;
	margin-right: 4px;
	overflow: hidden;
	white-space: nowrap;
	background: linear-gradient(270deg, #007DB3, #007DB3, #00E4FF, #007DB3, #007DB3);
	background-size: auto auto;
	background-size: 600% 600%;
	-webkit-animation: btn-1 1s linear infinite alternate both;
	animation: btn-1 1s linear infinite alternate both;
}
.banner-section-top .inner-banner .large-right .button-section .btn:before {
	content: '';
	position: absolute;
	z-index: -1;
	top:0;
	left:0;
	width:0;
	height:100%;
	background:#240F6E;
 transition: width .3s;
}
.banner-section-top .inner-banner .large-right .button-section .btn-2 {
	border:1px solid #fff;
	background:none;
}
/*.img-cols {
	width:32%;
	float:right;
	border:4px solid transparent;
	border-left:0px;
	vertical-align:top;
}
*/
.img-cols {
	width:32%;
	border: 4px solid transparent;
	border-left:0px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.img-cols .img-col-1 {
	-mox-flex: 1;
	overflow: hidden;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	float: none;
	min-height: 120px;
	height: 33.33333333%;
}
.img-cols a {
	display:block;
	background-image:url(../images/hero-course.jpg);
	position:relative;/*	height:158px;*/
}
.img-cols .img-col-1 a:before {
	content: '';
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgba(36, 15, 110, .75);
transition: width .5s;
}
.img-cols .img-col-1 a:hover:before {
	width:100%;
}
.img-cols .img-col-1 a:hover .text-more {
	height: 28px;
	padding-top: 8px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.img-cols .img-col-1 .full-block {
	display:block;
	position: relative;
	background: rgba(25, 20, 43, .1);
	background: -moz-linear-gradient(top, rgba(25, 20, 43, .1) 0, rgba(25, 20, 43, .1) 40%, rgba(25, 20, 43, .75) 100%);
	background: -webkit-linear-gradient(top, rgba(25, 20, 43, .1) 0, rgba(25, 20, 43, .1) 40%, rgba(25, 20, 43, .75) 100%);
	background: linear-gradient(to bottom, rgba(25, 20, 43, .1) 0, rgba(25, 20, 43, .1) 40%, rgba(25, 20, 43, .75) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0019142b', endColorstr='#bf19142b', GradientType=0);
}
.img-cols .img-col-1 .full-block .text-h-m {
	position: absolute;
	padding:1.5em;
	left: 0;
	bottom: 0;
	width: 100%;
 transition: ease-in-out .5s;
	z-index:6;
}
.img-cols .img-col-1 .full-block .text-h-m .text-h {
	font-size:24px;
	line-height: 1.1em;
	font-weight: 700;
	text-transform: uppercase;
	color:#fff;
}
.img-cols .all {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
}
.img-cols .img-col-1 .full-block .text-h-m .text-more {
	display:block;
	color: #00E4FF;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	height: 1px;
	opacity: 0;
	filter: alpha(opacity=0);
transition: all .2s;
}
.img-cols .img-col-1:hover .text-more {
	height:28px !important;
	padding-top:8px;
	opacity:1 !important;
	filter: alpha(opacity=100);
}
.img-cols .all a {
	background:none;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
}
.img-cols .all  .img-cols .all .carousel {
	padding:0px;
	margin:0px;
	position: absolute;
	width: 100%;
	height: 100%;
}
.img-cols .all .carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.img-cols .one-img {
	background:url(../images/hero-destination-us.jpg) no-repeat center top/cover;
}
.img-cols .two-img {
	background:url(../images/hero-destination-au_xs.jpg) no-repeat center top/cover;
}
.img-cols .three-img {
	background: url(../images/hero-destination-uk_xs.jpg) no-repeat center top/cover;
}
.in-section-2 {
	display:inline-block;
	width:100%;
	padding:5% 0;
	text-align:center;
}
.in-section-2 h2 {
	font-size:32px;
	margin:0 0 20px 0;
	padding-bottom: .2em;
	color: #202020;
	text-transform: uppercase;
	font-weight:700;
	display:inline-block;
	width:100%;
}
.in-section-2 h2 span {
	font-size:16px;
	font-weight:normal;
	display:block;
	margin:10px 0 0 0;
	text-transform:none;
	color:#666;
}
.in-section-3 {
	background:#f0f0f0;
	padding:50px 0;
	display:inline-block;
	width:100%;
}
.in-section-3 h3 {
	text-align:center;
	font-size:32px;
	margin:0 0 20px 0;
	padding-bottom: .2em;
	color: #202020;
	text-transform: uppercase;
	font-weight:700;
	display:inline-block;
	width:100%;
}
.in-section-3 h3 span {
	font-size:16px;
	font-weight:normal;
	display:block;
	margin:10px 0 0 0;
	text-transform:none;
	color:#666;
}
.in-section-3 .section-row {
	margin:0;
	padding:0;
	display:block;
	width: 100%;
}
.in-section-3 .section-row .cols {
	width: 50%;
	float:left;
	border: 4px solid transparent;
}
.in-section-3 .section-row .cols a {
	height: 220px;
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	text-decoration: none
}
.in-section-3 .section-row .cols a:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(36, 15, 110, .75);
	opacity: .25;
	filter: alpha(opacity=25);
transition: opacity .5s;
}
.in-section-3 .section-row .cols a:hover:before {
	opacity: 1;
	filter: alpha(opacity=100);
}
.in-section-3 .section-row .img-1 a {
	background-image:url(../images/course-flex.jpg);
}
.in-section-3 .section-row .img-2 a {
	background-image:url(../images/course-seme.jpg);
}
.in-section-3 .section-row .img-3 a {
	background-image:url(../images/course-prof.jpg);
}
.in-section-3 .section-row .img-4 a {
	background-image: url(../images/course-exam_xs.jpg)
}
.in-section-3 .section-row .img-5 a {
	background-image: url(../images/course-teen.jpg);
}
 .in-section-3 .section-row .cols:nth-of-type(3) {
width: 33.33333333%;
}
.in-section-3 .section-row .cols:nth-of-type(4) {
width: 33.33333333%;
}
.in-section-3 .section-row .cols:nth-of-type(5) {
width: 33.33333333%;
}
.in-section-3 .section-row .cols:nth-of-type(6) {
width: 33.33333333%;
}
.in-section-3 .section-row .cols .text-full:after {
	content: "\e9b6";
	font-family: kie;
	position: absolute;
	display: inline-block;
	top: 50%;
	margin-top: -10px;
	right: 0;
	width: 20px;
	height: 20px;
	line-height: 10px;
	text-align: center;
	color: #FFF;
	font-weight: 900;
	font-size: 12px;
}
.in-section-3 .blue-btn {
	position: relative;
	color: #007DB3;
	z-index: 1;
	width: auto;
	font-size: 14px !important;
	font-weight: 700;
	padding: 8px;
	border: none;
	text-transform:uppercase;
	border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-bottom: 1px solid #007DB3;
	background-color: transparent;
	box-shadow: none;
	text-align:center;
	display:inline-block;
	text-decoration:none;
}
.in-section-3 .blue-btn:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #007DB3;
 transition: width .3s;
}
.in-section-3 .blue-btn:hover {
	color:#fff;
	padding:8px 24px;
}
.in-section-3 .blue-btn:hover:before {
	width: 100%;
}
.in-section-3 .img-cols .img-col-1 .arrow:before {
	display:none;
	content: "\e9b6";
	position: absolute;
	z-index: -1;
	top: -20px;
	font-family: kie;
	right: 5px;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
}
.in-section-3 .img-cols .img-col-1 .full-block .text-h-m .text-h {
	font-size:20px;
}
.in-section-4 {
	background:#fff;
	padding:30px 0;
	display:inline-block;
	width:100%;
}
.in-section-4 h3 {
	text-align:center;
	font-size:32px;
	margin:0 0 20px 0;
	padding-bottom: .2em;
	color: #202020;
	text-transform: uppercase;
	font-weight:700;
	display:inline-block;
	width:100%;
}
.in-section-4 h3 span {
	font-size:16px;
	font-weight:normal;
	display:block;
	margin:10px 0 0 0;
	text-transform:none;
	color:#666;
}
.in-section-4 .section-row {
	margin:0;
	padding:0;
	display:block;
	width: 100%;
}
.in-section-4 .section-row .cols {
	width: 25%;
	float:left;
	border: 4px solid transparent;
}
.in-section-4 .section-row .wd-50 {
	width:50%;
}
.in-section-4 .section-row .cols a {
	height: 285px;
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	text-decoration: none
}
.in-section-4 .img-cols .img-col-1 .arrow:before {
	display:none;
	content: "\e9b6";
	position: absolute;
	z-index: -1;
	top: -20px;
	font-family: kie;
	right: 5px;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
}
.in-section-4 .section-row .cols a:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(36, 15, 110, .75);
	opacity: .25;
	filter: alpha(opacity=25);
transition: opacity .5s;
}
.in-section-4 .section-row .cols a:hover:before {
	opacity: 1;
	filter: alpha(opacity=100);
}
.in-section-4 .img-cols .img-col-1 .full-block .text-h-m .text-h {
	font-size:20px;
}
.in-section-4 .section-row .img-1 a {
	background-image: url(../images/school-canada.jpg);
}
.in-section-4 .section-row .img-2 a {
	background-image: url(../images/school-usa.jpg);
}
.in-section-4 .section-row .img-3 a {
	background-image:url(../images/school-australia.jpg);
}
.in-section-4 .section-row .img-4 a {
	background-image: url(../images/school-uk.jpg);
}
.in-section-4 .section-row .img-5 a {
	background-image: url(../images/school-ireland.jpg);
}
.in-section-4 .section-row .img-6 a {
	background-image: url(../images/school-newzealand.jpg);
}
.in-section-4 .blue-btn {
	position: relative;
	color: #007DB3;
	z-index: 1;
	width: auto;
	font-size: 14px !important;
	font-weight: 700;
	padding: 8px;
	text-transform:uppercase;
	border: none;
	border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-bottom: 1px solid #007DB3;
	background-color: transparent;
	box-shadow: none;
	text-align:center;
	display:inline-block;
	text-decoration:none;
}
.in-section-4 .blue-btn:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #007DB3;
 transition: width .3s;
}
.in-section-4 .blue-btn:hover {
	color:#fff;
	padding:8px 24px;
}
.in-section-4 .blue-btn:hover:before {
	width: 100%;
}
/* --- Newly added css --- */
   .pos-rel {
	position: relative;
}
/*.in-section-4 .section-row .cols:nth-of-type(3){width: 33.33333333%;}
.in-section-4 .section-row .cols:nth-of-type(4){width: 33.33333333%;}
.in-section-4 .section-row .cols:nth-of-type(5){width: 33.33333333%;}*/
.in-section-4 .section-row .cols .text-full:after {
	content: "\e9b6";
	font-family: kie;
	position: absolute;
	display: inline-block;
	top: 50%;
	margin-top: -10px;
	right: 0;
	width: 20px;
	height: 20px;
	line-height: 10px;
	text-align: center;
	color: #FFF;
	font-weight: 900;
	font-size: 12px;
}



/*Index-2 End*/

 @media only screen and (min-width:767px) and (max-width:1024px) {
.testimonials-section .right-img {
width:100%;
}
.carousel .testimonial {
font-size:13px;
}
 .breadcrumb-wrapper {
display:none;
}
.logo-mobile {
display:block;
}
.course-section h3 span:before {
width:120px;
}
.course-section h3 span:after {
width:120px;
}
.course-section .box p {
display:none;
}
.course-section .box .content {
padding:0 10px;
}
.course-section .box-container {
padding:30px 25px;
height:100%;
}
.course-section .box {
height:210px;
width:25%;
margin:0 12px;
}
.course-section .box .btn-gy a {
margin-bottom:10px;/* position:absolute; bottom:0; left:0; right:0; width:100px;*/
}
.choose-section .col-box {
padding: 0px 16px;
}
.choose-section p {
text-align:justify;
}
.footer .email-row .block-content h2 {
font-size:20px;
}
.footer .link-row .links-small {
display:inline-block;
width:100%;
}
.footer .social-icon-col ul li {
padding-left:4px;
}
.logo-d {
display:none;
}
.outer-wrapper nav .navbar-collapse ul li a {
padding-left:8px !important;
padding-right:8px !important;
}
.outer-wrapper nav .navbar-collapse ul {
float:right;
}
.menu > ul {
float:left;
}
.offer-course .tab-container ul li a {
padding:6px;
}
.offer-course h3 {
font-size:24px;
}
.img-cols .img-col-1 .full-block .text-h-m .text-h {
font-size:20px;
}
}
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
 .banner-section-top {
padding:11px;
}
 .in-section-3 h3 {
font-size:28px;
}
 .in-section-2 h2 {
font-size:28px;
}
 .in-section-4 h3 {
font-size:28px;
}
 .img-cols a {
height:129px;
}
 #myCarousel {
height:128px !important;
}
 .in-section-4 .section-row .cols a {
height:235px;
}
 .in-section-3 .section-row .cols a {
height:160px;
}
 .banner-section-top .inner-banner .large-right .banner-text h2 {
font-size:36px;
}
 .at-accordion-or-tabs.at-tabs > li > a {
padding: 6px 15px !important;
}
 .at-accordion-or-tabs > li > section {
padding:0px !important;
}
 .course-section .box {
height:320px;
padding:0;
}
 .course-section .box p {
display:block;
}
 .course-section h3 span:before {
width:240px;
}
 .course-section h3 span:after {
width:240px;
}
 .logo-mobile {
display:none;
}
.menu-2 {
left:-69% !important;
}
.menu-3 {
left:-104% !important;
}
.menu-4 {
left:-86%;
}
.menu-5 {
right:0;
}
 .menu-2 .top-arrow {
left:26% !important;
}
.menu-3 .top-arrow {
left:50% !important;
}
.menu-4 .top-arrow {
left:45% !important;
}
.menu-5 .top-arrow {
left:49% !important;
}
.banner-top h2 {
font-size:48px !important;
}
.testimonials-section {
padding-top:15px;
}
}
@media only screen and (min-device-width :1440px) and (max-device-width :900px) and (orientation : landscape) {
 .menu-2 .top-arrow {
left:18% !important;
}
}
 @media only screen and (min-device-width :1050px) and (max-device-width : 1680px) and (orientation : landscape) {
 .menu-2 .top-arrow {
left:16% !important;
}
}
 @media only screen and (min-device-width: 1680px) and (max-device-width: 1050px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
 .menu-2 .top-arrow {
left:26% !important;
}
}
 @media (max-width:1440px) {
 .menu-2 .top-arrow {
left:19% !important;
}
}
 @media (max-width:1050px) {
 .menu-2 .top-arrow {
left:26% !important;
}
}
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
 .banner-top h2 {
font-size:56px;
}
.contact-form .container-f .right-check {
text-align:left !important;
}
.contact-form .container-f .right-check .form-check {
padding-left: 1.25rem;
}
.contact-form .container-f .right-check .form-check input {
right:inherit;
}
.contact-form .container-f button {
padding:16px 26px;
max-width:100%;
}
.contact-form h2 {
font-size:18px;
}
.tab-menu-content ul li a {
font-size:12px;
padding: 16px 6px;
margin: 0 2px;
}
.choose-section h2 {
font-size:26px !important;
}
.banner-top h2 {
font-size:48px;
}
.testimonials-section .right-img {
width:100%;
margin-top:16px;
height:290px;
}
 .testimonials-section .right-img img {
width:100%;
}
.carousel-control.left, .carousel-control.right {
display:none;
}
.carousel-control.left, .carousel-control.left {
display:none;
}
.carousel .item {
padding:0px;
}
.carousel {
margin-top:40px;
}
.carousel .testimonial {
padding:20px 0 0 0;
}
.carousel .item {
min-height:220px;
}
.menu-container {
display:none;
}
#mobile-menu {
display:block;
}
}
 @media (min-width: 992px) {
 .logo-d {
display:block;
}
 .footer .email-row .block-content h2 {
font-size:22px;
}
 .footer .link-row .links-small {
display:inline-block;
width:100%;
}
}
 @media (max-width:991px) {
 .tab-menu-content ul li a {
font-size:12px;
padding: 8px 6px;
margin: 0 2px;
}
 .region-container .right {
margin-bottom:16px;
}
.region-container h2 {
margin-bottom:30px;
}
.section-left {
max-width:50%;
}
 .section-right {
max-width:50%;
padding-left:60px;
flex:inherit;
}
.region-container .container {
max-width:94%;
}
.region-container .left .text-p {
font-size:14px;
}
/*.testimonials-section .modal{ width:90%;}*/
.testimonials-section .close {
opacity: 1;
}
.testimonials-section .modal .modal-content {
width:94%
}
 #mobile-menu {
display:block;
}
 .logo-mobile {
display:block;
}
 .offer-course h3 {
font-size:26px;
}
 .testimonials-section .right-img {
width:100%;
height:auto;
}
 .carousel .testimonial {
font-size:14px;
}
 .carousel-control.left, .carousel-control.right {
display:none;
}
.carousel-control.left, .carousel-control.left {
display:none;
}
.carousel .item {
padding:0px;
}
.carousel {
margin-top:28px;
padding-bottom:70px;
}
.carousel .testimonial {
padding:20px 0 0 0;
}
.carousel .item {
min-height:inherit;
}
.carousel .carousel-indicators {
bottom:10px;
}
}
 @media (max-width: 812px) {
 .banner-section-top .inner-banner {
display:block;
}
 .banner-section-top .img-cols {
display:block;
}
 .course-section .box p {
display:none;
}
 .banner-section-top .inner-banner .large-right .banner-text .tag-line {
font-size:20px;
}
 .in-section-4 .blue-btn:hover {
color:#007DB3;
padding: 8px;
}
 .in-section-4 .blue-btn:before {
background:none;
}
 .banner-section-top .inner-banner .large-right .banner-text  .img-cols .img-col-1 a:hover:before {
opacity:inherit;
}
 .img-cols .img-col-1 a:before {
background:none;
}
 .banner-section-top .img-cols a {
height:120px;
}
 .banner-section-top .img-cols #myCarousel {
height:120px !important;
}
 .in-section-4 .section-row .cols a:hover:before {
opacity:inherit;
}
 .in-section-4 .section-row .cols a:before {
background:none;
}
 .img-cols .img-col-1 .full-block .text-h-m .text-more {
display:none;
}
 .in-section-3 .section-row .cols a:hover:before {
opacity:inherit;
}
 .in-section-3 .section-row .cols a:before {
background:none;
}
 .img-cols .img-col-1 .full-block .text-h-m .text-h {
font-size:18px;
}
 .in-section-2 img {
width:60px;
margin:0 auto;
}
 .banner-section-top .inner-banner .large-right .ks-logo {
display:none;
}
 .banner-section-top .inner-banner .large-right {
max-width:100%;
display:block;
width:100%;
}
 .img-cols {
width:100%;
padding: 0 0 0 4px;
border-top:0px;
}
 .banner-section-top .img-cols .img-col-1 {
width: 33.33333333%;
min-height: 120px;
float: left;
}
 .in-section-4 .section-row .img-col-1 {
width: 33.33333333%;
}
 .in-section-4 .section-row .img-col-1 a {
height: 180px;
}
 .in-section-4 .img-cols .img-col-1 .full-block .text-h-m .text-h {
font-size:16px;
}
 .in-section-3 .img-cols .img-col-1 .full-block .text-h-m .text-h {
font-size:16px;
}
 .in-section-3 .section-row .cols a {
height:168px;
}
 .in-section-3 h3 {
font-size:24px;
}
 .in-section-2 h2 {
font-size:24px;
}
 .in-section-4 h3 {
font-size:24px;
}
 .banner-section-top .inner-banner .large-right .banner-text h2 {
font-size:36px;
}
 .banner-section-top .inner-banner .large-right .button-section .btn {
padding: 1em 2em;
}
 .banner-section-top .img-cols .all {
border-right: 4px solid transparent;
border-top:0px !important;
border-left: 4px solid transparent;
}
 .carousel-fade .carousel-inner .item {
min-height:168px;
}
}
 @media (max-width: 767px) {
 .testimonials-section .close {
opacity: 1;
}
.testimonials-section .modal .modal-content {
width:89%
}
 .testimonials-section .right-img .icon {
transform:none;
width:60px !important;
height:40px !important;
left: 40% !important;
top: 40% !important;
}
 .testimonials-section .right-img:hover .icon {
transform: none;
}
 .testimonials-section .right-img:hover .icon img {
top:0;
position: relative;
left:0;
background-color: rgba(123, 121, 106, 0.76);
}
 .testimonials-section .right-img .icon img {
height:40px;
}
 .region-container .left .downloads-lnk {
text-align:center;
}
 .region-container .right ul .head {
font-size:11px;
}
 .region-container .right ul li .rigth-list {
font-size:12px;
}
 .section-right {
max-width:inherit;
padding-left:15px;
}
.section-left {
max-width:inherit;
}
.nav-tabs {
display:none !important;
}
.offer-course .tab-container .card.fade:not(.show) {
opacity: inherit;
}
.offer-course .tab-container .card-header h5 a {
display:inline-block;
width:100%;
}
.offer-course .tab-container .flag-icons {
float:left;
margin:-2px 6px 0 0;
}
.offer-course .tab-container .card-header {
text-align:left;
padding:6px;
border-top:1px solid rgba(0, 0, 0, .125);
border-bottom:0px;
background:none;
}
.offer-course .tab-container .card-header .block {
text-decoration:none;
/*color:#404040;*/
text-transform:uppercase;
font-size:12px;
font-weight:bold;
padding:4px 0 0 0;
display:inline-block;
}
.offer-course .tab-container .card-header .block a {
text-decoration:none;
}
.offer-course .tab-container ul li .down-arrow {
width:0;
height:0;
border-left:6px solid transparent;
border-right:6px solid transparent;
border-top:6px solid #f0f0f0;
float:right;
margin:8px 6px 0 0;
}
.offer-course h3 {
font-size:24px;
line-height: 1.1;
margin-top:10px;
}
.offer-course .tab-container .btn-gy {
width:49%;
padding:1px;
}
.offer-course .tab-container .btn-gy a {
align-items:center;
text-align: center;
padding:0 8px;
font-size:12px;
line-height:14px;
background-color: #f0f0f0;
height:46px;
overflow:hidden;
display:-ms-flexbox;
display:flex;
-ms-flex-pack:center;
justify-content:center;
-ms-flex-align:center;
}
.offer-course .tab-container .btn-gy a:hover {
background:#f0f0f0;
text-decoration:underline;
color:#666;
}
.offer-course .tab-container .card-body {
margin-bottom:7px;
}
.outer-wrapper nav .logo-d {
display:none;
}
.outer-wrapper nav .navbar-collapse .nav-item .lnk-txt {
display:none;
}
.outer-wrapper nav .navbar-collapse .site-search {
display:none;
}
.outer-wrapper nav .navbar-collapse ul {
width:100%;
}
.outer-wrapper nav .navbar-collapse ul li {
display:block;
}
.outer-wrapper nav .navbar-collapse ul li a {
float:left;
width:20%;
text-align:center;
}
.breadcrumb-wrapper {
display:none;
}
.logo-mobile {
display:block;
}
.banner-top h2 {
font-size:36px;
padding-top:5px;
line-height:1.1;
}
.banner-top .head-subtitle {
font-size:18px;
margin-bottom:20px;
}
.banner-top {
padding:6.5% 6%;
}
.course-section h3 span:before {
display:none;
}
.course-section h3 span:after {
display:none;
}
.course-section .box p {
display:none;
}
.course-section .box .btn-gy a {
display:none;
}
.course-section .box-container {
padding:0px;
}
.course-section .box {
height:auto;
margin:0px;
text-align:left;
margin-bottom:10px;
width:100%;
}
.course-section .box img {
width:42%;
margin:0px;
}
.course-section .box .content {
padding:0px;
display:inline-block;
width: 54%;
margin:0 0 0 4px;
}
.course-section .box .content h4 {
font-size: 13px;
}
.choose-section h2 {
font-size:24px;
}
.choose-section p {
text-align:justify;
}
.choose-section .col-box {
padding-bottom:0px;
padding-top:0px;
}
 .contact-form .container-f .right-check {
text-align:center !important;
}
.contact-form .container-f .right-check .form-check label {
text-align:left;
border:0px;
}
.footer .email-row .form-section form input {
width:60%;
height:38px;
margin:0px !important;
line-height: normal;
font-weight:400;
font-size:16px;
}
.footer .email-row .block-content h2 {
font-size:18px;
}
.footer .link-row .link-btns p {
text-align:center;
}
.carousel .carousel-indicators {
bottom:0px;
}
.contact-form .container-f .right-check .form-check {
padding-left: 1.25rem;
}
.contact-form .container-f .right-check .form-check input {
right:inherit;
}
.contact-form .container-f button {
padding:16px 26px;
max-width:100%;
}
.contact-form h2 {
font-size:18px;
}
.offer-course .tab-container .tab-pane {
border: 0;
padding-bottom:0;
border-radius:0px;
}
.program-container h2 {
font-size:20px;
}
.program-container .content-box {
margin:0 30px;
}
.program-container .content-box .block {
width:100%;
margin:0px 0 30px 0;
height:auto;
}
.program-container .content-box .plus:before {
top:-15px;
left:50%;
margin-left:-15px;
}
.testimonials-section .right-img {
width:100%;
}
.testimonials-section .right-img img {
width:100%;
}
.carousel-control.left, .carousel-control.right {
display:none;
}
.carousel-control.left, .carousel-control.left {
display:none;
}
.carousel .item {
padding:0px;
}
.carousel {
margin-top:40px;
}
.carousel .testimonial {
padding:20px 0 0 0;
font-size:13px;
}
.testimonials-section .carousel {
margin-bottom:20px;
}
.region-container .container {
width:100%;
}
.tab-menu-content {
display:none;
}
.region-container h2 {
font-size:24px;
line-height:1.1;
margin-top:22px;
}
.region-container .left .text-p {
font-size:14px;
}
.region-container .grey-box h4 {
display:inherit;
}
.region-container .grey-box .content p {
margin:0px !important;
}
.menu-container {
display:none;
}
#mobile-menu {
display:block;
}
.modal-content {
width:90%;
left:2%;
}
.footer .logo-block .block {
text-align:center;
margin-bottom:30px;
}
.footer .email-row .form-section form button {
/*font-size:13px;*/
width:38%;
}
 .footer .social-icon-col {
width:100%;
text-align:center;
}
.btn.btn-white-border {
width:100%;
}
.footer .blog-col {
width:100%;
}
.footer .blog-col a {
width:100%;
}
.footer .blog-col .btn::before {
display:none;
}
.footer .blog-col .btn::after {
display:none;
}
.footer .logo-block {
display:none;
}
.footer .link-row .goto-top {
display:none;
}
.contact-form {
margin-top:30px;
}
.offer-course .tab-container {
border-bottom:1px solid #ccc;
padding-bottom:14px;
}
.offer-course .tab-container ul li a {
border:0px !important;
width:100%;
margin:0px;
background-color: #fff;
font-weight:700;
text-transform:uppercase;
text-align:left;
padding:8px 6px !important;
color: #404040;
font-size:13px;
}
.offer-course .tab-container ul {
border:0px;
}
.offer-course .tab-container ul li p {
padding:0px;
margin:0px !important;
}
.at-accordion-or-tabs > li > section {
padding:0px !important;
margin-bottom:10px;
margin-top:2px;
}
.at-accordion-or-tabs > li {
border-bottom: 1px solid #ddd !important;
border-left:0px !important;
border-right:0px !important;
border-top:0px !important;
}
.at-accordion-or-tabs > li:first-child {
border-top: 1px solid #ddd !important;
}
.at-accordion-or-tabs > li .active {
background:#503f8b !important;
color:#fff !important;
}
.choose-section {
margin-top:24px;
}
.course-section .box-container {
height:auto;
margin-bottom:10px;
}
.contact-form .container-f .right-check p {
margin-bottom:0px;
}
.choose-section .features-icons-item {
margin-bottom:20px;
}
.testimonials-section {
padding-bottom:14px;
}
.region-container .grey-box img {
width:70px;
}
.outer-wrapper nav .navbar-collapse ul li .icon {
font-size:20px;
}
.in-section-2 .col-xs-6 {
width:50%;
}
.in-section-2 p {
font-size:13px;
}
.in-section-2 img {
width:60px;
margin:0 auto;
}
.in-section-2 h2 {
font-size:20px;
padding-bottom:.25em;
}
.in-section-2 h2 span {
font-size:14px;
margin-top:6px;
}
.banner-section-top .inner-banner .large-right .banner-text {
padding: 14% 7% 7%;
text-align: center;
background: rgba(25, 20, 43, .25);
}
.banner-section-top .inner-banner .large-right .button-section .btn-blue {
width:100%;
}
.banner-section-top .inner-banner .large-right .button-section .btn-blue a {
width:100%;
margin-bottom:5px;
0
}
.banner-section-top .inner-banner .large-right .banner-text h2 {
font-size:32px;
line-height: 1em;
margin-bottom: 5%;
margin-top: 8%;
}
.banner-section-top .inner-banner .large-right .banner-text .tag-line {
font-size:16px;
margin-bottom: 18%;
}
.banner-section-top .inner-banner .large-right .button-section {
padding:0px;
}
.img-cols .img-col-1 .full-block .text-h-m {
padding: 1em;
}
.img-cols .img-col-1 .full-block .text-h-m .text-h {
font-size:14px;
}
.img-cols .img-col-1 .full-block .text-h-m .text-h {
font-size:14px;
}
.banner-section-top .right-banner .course {
width:50% !important;
}
.banner-section-top .right-banner .all {
width:50% !important;
border-right:0px;
}
.banner-section-top {
padding:0px;
}
.banner-section-top .img-cols .img-col-1 {
width:100%;
}
.banner-section-top .img-cols a {
height:100px;
}
.banner-section-top .img-cols #myCarousel {
height:100px !important;
}
.banner-section-top .img-cols .img-col-1 {
min-height:inherit;
}
.in-section-3 h3 {
font-size:20px;
line-height: 1.25;
}
.in-section-3 h3 span {
font-size:14px;
}
.in-section-3 .section-row .img-1 {
width:100% !important;
}
.in-section-3 .section-row .cols {
border: 2px solid transparent;
}
.in-section-3 .section-row .cols:nth-of-type(3) {
width: 50%;
}
.in-section-3 .section-row .cols:nth-of-type(4) {
width: 50%;
}
.in-section-3 .section-row .cols:nth-of-type(5) {
width: 50%;
}
.in-section-3 .section-row .cols:nth-of-type(6) {
width: 50%;
}
.in-section-3 .img-cols .img-col-1 .full-block .text-h-m .text-h {
font-size:14px;
}
.in-section-3 .section-row .cols a {
height:100px;
}
.img-cols .img-col-1 {
min-height:inherit;
}
 .in-section-4 .blue-btn:hover {
color:#007DB3;
padding: 8px;
}
 .in-section-4 .blue-btn:before {
background:none;
}
 .in-section-3 .blue-btn:hover {
color:#007DB3;
padding: 8px;
}
 .in-section-3 .blue-btn:before {
background:none;
}
 .in-section-4 .section-row .img-col-1 {
width:50% !important;
}
 .in-section-4 .section-row .cols {
border: 2px solid transparent;
}
 .in-section-4 .section-row .img-col-1 a {
height:100px;
}
 .in-section-4 h3 {
font-size:20px;
}
 .in-section-4 .img-cols .img-col-1 .full-block .text-h-m .text-h {
font-size:14px;
}
 .in-section-4 .img-cols .img-col-1 .arrow:before {
display:block;
}
 .in-section-3 .img-cols .img-col-1 .arrow:before {
display:block;
}
 .banner-section-top .inner-banner {
display:block;
}
 .banner-section-top .img-cols {
display:block;
}
 .banner-section-top .inner-banner .large-right .button-section .btn-2 {
background-color: rgba(0, 0, 0, .2);
border: 1px solid rgba(255, 255, 255, .5);
}
}
