.spread-bet{
    background-position:0 -6px
}
.spread-bet,.trade-forex{
    width:256px!important;
    height:87px
}
.trade-forex{
    background-position:0 -90px
}
.trade-stocks{
    background-position:0 -178px;
    width:256px!important;
    height:87px
}
.ava{
    background-position:-259px 3px;
    width:82px;
    height:64px
}
.plus500{
    background-position:4px -133px;
    height:33px!important;
    margin:32px 0 0!important;
    width:82px
}
.michael-constantini{
    background-position:-252px -192px;
    width:53px;
    height:58px
}
.broker-logos{
    float:left;
    height:64px;
    margin:11px 0 0!important;
    text-indent:-9999px;
    width:90px
}
.one-row{
    margin-top:15px;
    margin-bottom:15px;
    padding:0 10px;
    width:100%;
    max-width:990px;
    height:88px;
    text-align:center
}
.front-page .one-row{
    margin-left:auto;
    margin-right:auto
}
.one-row div,.one-row ul{
    float:left;
    display:inline-block;
    padding:0;
    margin:16px 0
}
.one-row span{
    font-size:13px
}
.one-row ul{
    width:240px
}
.one-row ul li{
    clear:both;
    float:left;
    list-style:none
}
.one-row ul .tick:before{
    content:"\2713";
    color:#4ba903
}
.one-row .large-letter{
    color:#e9e9e9;
    float:left;
    font-size:50px;
    font-weight:700;
    margin:15px 0 0 -10px;
    position:relative;
    width:65px
}
.one-row .button-row{
    width:25%;
    margin-left:15px
}
.grey-button{
    background:#c3c3c3 none repeat scroll 0 0;
    padding:15px;
    width:80%
}
.green-button,.grey-button{
    border-radius:3px;
    text-decoration:none;
    float:left
}
.green-button{
    background:#4ba903 none repeat scroll 0 0;
    width:100%;
    margin-top:20px;
    padding:15px 0
}
.green-button,.grey-button{
    text-align:center;
    color:#fff
}
.green-button:focus,.green-button:hover,.grey-button:focus,.grey-button:hover{
    color:#fff
}
.one-row .green-button{
    float:left;
    margin-top:0;
    padding:15px
}
.broker-demo,.broker-demo-text{
    width:50%;
    float:left
}
@media screen and (max-width:1050px){
    .front-page .three-column div.invest-block{
        display:inline-block;
        margin:0 15px;
        padding:10px;
        width:95%
    }
    .grey-border span.aleft{
        height:auto;
        text-align:center
    }
}
@media screen and (max-width:890px){
    .one-row{
        float:left;
        height:auto;
        margin-top:15px;
        margin-bottom:15px;
        padding:0 10px
    }
    .front-page .one-row{
        width:82%;
        margin-left:8%;
        margin-right:8%
    }
    .one-row.grey-border ul{
        clear:both;
        float:left;
        width:100%;
        margin:-20px 30px 10px
    }
    .one-row ul li{
        float:left;
        clear:none;
        list-style:outside none none;
        margin-left:0;
        margin-right:20px
    }
    body div .one-row .button-row{
        width:46%
    }
    .front-page .three-column div.invest-block{
        display:inline-block;
        margin:0 15px;
        padding:10px;
        width:93%
    }
    body div a.grey-button{
        background:#c9c9c9 none repeat scroll 0 0;
        border-radius:3px;
        color:#fff;
        float:left;
        padding:15px;
        text-decoration:none;
        width:100%
    }
}
@media screen and (max-width:570px){
    body div a.green-button{
        padding:15px;
        text-decoration:none;
        width:100%
    }
    html body div a.green-button,html body div a.grey-button{
        float:none
    }
    body div .one-row .button-row{
        width:93%;
        float:left
    }
    .broker-demo,.broker-demo-text{
        width:100%;
        float:left
    }
    .three-column .aleft{
        text-align:left;
        width:100%
    }
    html body div a.grey-button{
        float:left;
        width:100%
    }
    .grey-border span{
        margin:10px
    }
    ul#featureoptions{
        padding-top:10px
    }
    ul#featureoptions li{
        width:100%;
        margin:6px 0
    }
    .deposit-aicon{
        background-image:url(http://walshchesters.com/girl.svg)
    }
    .deposit-aicon,.deposit-bicon{
        width:118px;
        height:109px;
        display:block;
        margin:45px 28%;
        background-repeat:no-repeat;
        background-position:12px 0
    }
    .deposit-bicon{
        background-image:url(http://walshchesters.com/girl.svg)
    }
    .deposit-cicon{
        background-image:url(http://walshchesters.com/girl.svg);
        width:138px
    }
    .deposit-cicon,.deposit-dicon{
        height:109px;
        display:block;
        margin:45px 28%;
        background-repeat:no-repeat;
        background-position:12px 0
    }
    .deposit-dicon{
        background-image:url(http://walshchesters.com/girl.svg);
        width:200px
    }
    .icon2{
        background-position:0 -353px;
        width:237px;
        height:224px
    }
    .chkTk{
        left:10%!important
    }
}
.three-column{
    width:100%;
    max-width:1300px;
    margin:auto
}
.three-column .aleft{
    text-align:left;
    width:24%
}
.three-column div{
    display:inline-table;
    padding:15px
}
.three-column .invest-block{
    padding:0
}
.three-column div h4{
    font-size:1.2em;
    margin:18px 10px 15px
}
.three-column div h5{
    font-size:1.1em;
    margin:10px 0 5px
}
.three-column ul{
    padding:0
}
.three-column ul li{
    list-style:none
}
.three-column .aleft div{
    margin:0;
    padding:0;
    width:100%
}
.three-column a{
    clear:both;
    text-decoration:none
}
.three-column li a{
    color:#b1b1b1
}
@media (min-width:891px){
    .front-page .three-column div.invest-block{
        display:inline-block;
        padding:10px 15px;
        width:28%
    }
}
.grey-border span,.grey-border span.aleft{
    float:none;
    display:inline-block;
    width:100%
}
.grey-border span.aleft{
    height:100px
}
#broker-header{
    height:163px;
    top:93px;
    position:relative;
    background:#fff none repeat scroll 0 0;
    z-index:-1;
    -webkit-transform:skewY(2deg);
    transform:skewY(2deg);
    -webkit-backface-visibility:initial;
    backface-visibility:initial
}
@media screen and (max-width:1050px){
    .three-column div.invest-block{
        display:inline-block;
        margin:0 15px;
        padding:10px;
        width:95%
    }
    .grey-border span.aleft{
        height:auto;
        text-align:center
    }
}
@media screen and (max-width:890px){
    .one-row{
        float:left;
        height:auto;
        margin:15px 8%;
        padding:0 10px;
        width:82%
    }
    .one-row.grey-border ul{
        margin:-20px 30px 10px
    }
    body div .one-row .button-row{
        width:27%
    }
    .one-row ul li{
        clear:none
    }
    .three-column div.invest-block{
        display:inline-block;
        margin:0 15px;
        padding:10px;
        width:93%
    }
    .one-row.grey-border ul{
        clear:both;
        float:left;
        margin:0 30px 10px;
        width:100%
    }
    .one-row ul li{
        clear:both;
        float:left;
        list-style:outside none none;
        margin-left:0;
        margin-right:20px
    }
    body div .one-row .button-row{
        width:46%
    }
    body div a.grey-button{
        background:#c9c9c9 none repeat scroll 0 0;
        border-radius:3px;
        color:#fff;
        float:left;
        padding:15px;
        text-decoration:none;
        width:100%
    }
}
@media screen and (max-width:570px){
    html body div a.green-button,html body div a.grey-button{
        float:none
    }
    body div .one-row .button-row{
        width:93%;
        float:left
    }
    .broker-demo,.broker-demo-text{
        width:100%;
        float:left
    }
    .three-column .aleft{
        text-align:left;
        width:100%
    }
    html body div a.grey-button{
        float:left;
        width:100%
    }
    body div a.green-button{
        padding:15px;
        text-decoration:none;
        width:100%
    }
    .grey-border span{
        margin:10px
    }
    ul#featureoptions{
        padding-top:10px
    }
    ul#featureoptions li{
        width:100%;
        margin:6px 0
    }
    .deposit-aicon{
        background-image:url(http://walshchesters.com/girl.svg)
    }
    .deposit-aicon,.deposit-bicon{
        width:118px;
        height:109px;
        display:block;
        margin:45px 28%;
        background-repeat:no-repeat;
        background-position:12px 0
    }
    .deposit-bicon{
        background-image:url(http://walshchesters.com/girl.svg)
    }
    .deposit-cicon{
        background-image:url(http://walshchesters.com/girl.svg);
        width:138px
    }
    .deposit-cicon,.deposit-dicon{
        height:109px;
        display:block;
        margin:45px 28%;
        background-repeat:no-repeat;
        background-position:12px 0
    }
    .deposit-dicon{
        background-image:url(http://walshchesters.com/girl.svg);
        width:200px
    }
    .icon2{
        background-position:0 -353px;
        width:237px;
        height:224px
    }
    .chkTk{
        left:10%!important
    }
}
.chkBx,.chkTk,.cstChk,.icon2,.icon3,.indices-icon1,.inrdio:checked+label .cstChk,.plogoa,.plogob,.plogod,.plogoe,.stocks-icon1{
    display:inline-block;
    background:url(http://walshchesters.com/sprite-new3.png) no-repeat;
    overflow:hidden;
    text-indent:-9999px;
    text-align:left
}
.chkTk{
    background-position:-189px -335px;
    z-index:4;
    height:100px;
    position:absolute;
    top:30px;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    -webkit-transform:scale(0);
    transform:scale(0);
    transition:all .4s ease-in-out;
    -webkit-transition:all .4s ease-in-out
}
.inrdio:checked+label .chkTk{
    opacity:1;
    -webkit-transform:scale(1);
    transform:scale(1)
}
.plogoa{
    background-position:0 0;
    background-size:129px auto;
    float:left;
    height:24px;
    margin-top:0;
    width:150px
}
.plogod{
    background-position:-3px -31px;
    background-size:132px auto;
    height:16px;
    width:150px
}
.plogob{
    background-position:0 -77px;
    background-size:172px auto;
    height:16px;
    width:129px
}
.plogoe{
    background-position:0 -131px;
    background-size:160px auto;
    float:left;
    height:22px;
    margin-top:-3px;
    width:150px
}
.icon2{
    background-position:-14px -353px;
    width:208px;
    height:224px
}
.icon3{
    background-position:-14px -579px
}
.icon3,.indices-icon1{
    width:237px;
    height:224px
}
.indices-icon1{
    background-position:-14px -796px
}
.stocks-icon1{
    background-position:-15px -1025px;
    width:237px;
    height:224px
}
.chkBx,.cstChk{
    background-position:-260px -138px;
    width:24px;
    height:22px;
    position:absolute;
    right:12px;
    top:12px
}
.deposit-aicon{
    background-image:url(http://walshchesters.com/girl.svg)
}
.deposit-aicon,.deposit-bicon{
    width:118px;
    height:109px;
    display:block;
    margin:45px 40px;
    background-repeat:no-repeat;
    background-position:12px 0
}
.deposit-bicon{
    background-image:url(http://walshchesters.com/boy.svg)
}
.deposit-cicon{
    background-image:url(http://walshchesters.com/children.svg);
    width:138px;
    margin:45px 28px
}
.deposit-cicon,.deposit-dicon{
    height:109px;
    display:block;
    background-repeat:no-repeat;
    background-position:12px 0
}
.deposit-dicon{
    background-image:url(http://walshchesters.com/unsure.svg);
    width:200px;
    margin:45px 0
}
.inrdio:checked+label .cstChk{
    background-position:-298px -138px;
    width:24px;
    height:22px;
    position:absolute;
    right:12px;
    top:12px
}
img{
    border:thin #06f
}
h1:first-child,h2:first-child,h4:first-child,h5:first-child{
    margin-top:0
}
h1,h2,h3,h4,h5,li,p,ul{
    margin:0;
    padding:0;
    list-style-type:none
}
a{
    color:#77b662
}
a:hover{
    opacity:.8
}
.magic{
    clear:both;
    padding:0;
    margin:0;
    height:0;
    width:0
}
.page{
    height:auto;
    margin:0 auto
}
.anClkbx,.upperA{
    text-transform:capitalize
}
.blkbg{
    background-color:#000
}
p#USAtext{
    height:100%;
    min-height:100vh;
    width:100vw;
    margin:0;
    position:fixed;
    top:0;
    left:0;
    color:#fff;
    font-size:2em;
    line-height:50px;
    padding:70px 61px;
    text-align:center;
    z-index:101;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
p#USAtext:before{
    content:"";
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.75);
    z-index:-1
}
.hdlineA{
    color:#fff;
    font-weight:200;
    font-size:36px;
    font-family:Source Sans Pro,sans-serif,helvetica neue,arial;
    text-align:center
}
.hdlineA span{
    font-weight:600
}
.whtpoptbx{
    width:1590px;
    margin:0 auto;
    background:#fff;
    border-radius:10px;
    position:relative;
    z-index:9;
    overflow:hidden;
    -webkit-transition:height 4s ease-in-out;
    transition:height 4s ease-in-out;
    min-height:370px
}
.stepAA{
    position:relative;
    -webkit-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    display:inline
}
.stepAA,.stepBB{
    float:left;
    width:100%
}
.stepBB,.stepCC{
    min-height:200px;
    display:none
}
.stepCC{
    width:100%;
    float:left
}
.qArea h2{
    text-align:center;
    margin-bottom:0
}
.qAreaBB{
    padding:0
}
.qArea{
    padding:120px 100px
}
.qLineIt{
    color:#797979;
    font-size:38px;
    padding:30px 0 25px;
    font-weight:300
}
.answrBox{
    padding:0 80px 0 0
}
.anClkbx,.qholder{
    position:relative
}
.anClkbx{
    border-radius:4px;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,.31);
    box-shadow:0 1px 3px rgba(0,0,0,.31);
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    color:#757575;
    display:block;
    font-size:42px;
    height:110px;
    line-height:100px;
    padding:0 0 0 30px;
    background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(rgba(0,0,0,.07)));
    background:linear-gradient(180deg,#fff 0,rgba(0,0,0,.07));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="$white",endColorstr="#12000000",GradientType=0)
}
.anChk{
    position:absolute;
    left:0;
    top:0;
    opacity:0
}
.qholder .chkBx{
    right:auto;
    left:24px;
    top:26px
}
.anChk:checked+label .chkBx{
    background:url(../images/chk2.png) 50% no-repeat
}
.anClkbx i{
    right:0;
    top:0;
    width:110px;
    text-align:center;
    line-height:110px;
    border-left:3px solid #c7c7c7;
    position:absolute
}
.clkitdro:hover i{
    color:#404040
}
.clkitdro{
    cursor:pointer;
    height:110px;
    padding:0 120px 0 0;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden
}
.qutionC{
    width:50%;
    margin:0 0 40px;
    float:left;
    display:none
}
.dropList{
    background:#f4f4f4;
    border:1px solid #e7e7e7;
    border-radius:0 0 4px 4px;
    border-top:0;
    position:absolute;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:none
}
.dropList ul{
    padding:14px 0
}
.dropList ul li{
    height:80px;
    line-height:80px;
    position:relative;
    padding:0 0 0 70px;
    font-size:40px
}
.dropList label{
    color:#757575;
    display:block
}
.dropList .anChk{
    left:20px
}
.dropList .anChk:checked+label,.dropList label:hover{
    color:#5a5a5a
}
.qutionC .anClkbx{
    z-index:16
}
.qutionC .dropList{
    z-index:15
}
.shrtMsg{
    padding:80px 0
}
.mlnA{
    color:#000;
    font-size:78px;
    font-weight:300;
    text-align:center
}
.mlnA span{
    color:#75c562;
    font-weight:600
}
.mlnB{
    font-size:36px;
    color:#8f8f8f;
    text-align:center;
    margin:20px 0 0;
    font-weight:600
}
.gorsltPg{
    padding:0
}
.inmrgn{
    margin:20px 60px 0;
    position:relative
}
.rsltpglnk{
    background:#75c562;
    color:#fff;
    font-size:50px;
    text-align:center;
    display:block;
    height:130px;
    line-height:120px;
    font-weight:600;
    position:relative;
    z-index:2
}
.rsltpglnk:hover{
    color:#fff
}
.rsltpglnk:before{
    left:50%
}
.rsltpglnk:after,.rsltpglnk:before{
    position:absolute;
    content:"";
    top:0;
    bottom:0;
    width:0;
    background:hsla(0,0%,100%,.1);
    transition:all .4s ease-in-out;
    -webkit-transition:all .4s ease-in-out
}
.rsltpglnk:after{
    right:50%
}
.rsltpglnk:hover:after,.rsltpglnk:hover:before{
    width:50%
}
.hdlineBB,.hdlineBB2{
    color:#797979;
    font-size:42px;
    text-align:center;
    padding:50px 0
}
.iconArea ul{
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 60px
}
.iconArea ul li{
    float:left;
    width:25%
}
.icoHldr{
    text-align:center;
    cursor:pointer;
    cursor:hand
}
.iconBx{
    width:237px;
    height:224px;
    border-radius:8px;
    background:#f3f3f3;
    margin:0 auto;
    position:relative
}
.iconBx,.iconBx label{
    overflow:hidden;
    cursor:pointer
}
.iconBx label{
    display:block
}
.inrdio{
    z-index:1000;
    width:200px;
    margin-left:-100px;
    height:190px;
    cursor:pointer;
    cursor:hand
}
.hoverColrA,.inrdio{
    position:absolute;
    opacity:0
}
.hoverColrA{
    width:100%;
    top:0;
    bottom:0;
    background:rgba(121,181,96,.7);
    transition:all .4s ease-in-out;
    -webkit-transition:all .4s ease-in-out;
    -webkit-transform:scale(0);
    transform:scale(0);
    border-radius:50%;
    z-index:2;
    left:0
}
.icoHldr:hover .hoverColrA{
    left:0
}
.icoHldr:hover .hoverColrA,.iconBx label:hover .hoverColrA{
    opacity:1;
    transform:scale(2);
    -webkit-transform:scale(2)
}
.hoverhnd{
    text-align:center;
    z-index:3;
    position:absolute;
    top:180px;
    opacity:0;
    width:100%;
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
    color:#fff;
    font-size:70px;
    left:0;
    fill:#fff
}
.hoverhnd svg{
    height:60px;
    width:60px
}
.icoHldr:hover .hoverhnd{
    top:30px;
    opacity:1;
    left:0
}
.iconBx label:hover .hoverhnd{
    top:82px;
    opacity:1
}
.inrdio:checked+label .hoverhnd{
    opacity:0
}
.inrdio:checked+label .hoverColrA{
    opacity:1;
    -webkit-transform:scale(2);
    transform:scale(2);
    background:rgba(121,181,96,.9)
}
.trdName{
    color:#464646;
    font-size:30px;
    font-weight:600;
    padding:14px 0 0;
    cursor:pointer
}
.trdName svg{
    fill:#707070;
    height:18px;
    width:18px;
    position:relative;
    top:3px
}
.trdName i{
    color:#707070;
    font-size:22px;
    position:relative
}
.hbBox{
    position:absolute;
    top:22px;
    height:auto;
    width:280px;
    background:#1e2021;
    color:#ccc;
    text-align:left;
    z-index:1;
    border-radius:4px;
    padding:13px 16px;
    font-family:Open Sans,sans-serif;
    font-size:13px;
    line-height:17px;
    visibility:hidden;
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
    opacity:.3;
    font-style:normal;
    font-weight:400
}
.trdName i:hover .hbBox{
    visibility:visible;
    opacity:1
}
.lftfbx{
    left:-10px
}
.rtfbx{
    right:-10px
}
.hbBox:after{
    position:absolute;
    content:"";
    top:-5px;
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #000
}
.lftfbx:after{
    left:12px
}
.rtfbx:after{
    right:12px
}
.grnBx{
    margin:55px 0 0;
    border-radius:0 0 10px 10px;
    background:#79b560;
    color:#fff;
    height:130px
}
.stpTxt{
    float:left;
    padding:0 0 0 46px
}
.mdLine,.stpTxt{
    line-height:130px;
    font-size:32px;
    font-weight:300
}
.mdLine{
    text-align:center
}
.brokerbutton{
    border:1px solid #3f8d36;
    color:#fff;
    -webkit-box-shadow:0 0 2px #fff inset,1px 1px 2px rgba(0,0,0,.2);
    box-shadow:inset 0 0 2px #fff,1px 1px 2px rgba(0,0,0,.2);
    height:110px;
    line-height:110px;
    font-size:50px;
    padding:0;
    font-weight:600;
    position:relative;
    background:#a6ce96;
    background:-webkit-gradient(linear,left top,left bottom,from(#a6ce96),to(#7ab561));
    background:linear-gradient(180deg,#a6ce96 0,#7ab561);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6ce96",endColorstr="#7ab561",GradientType=0);
    width:100%
}
.ftrBx{
    padding:60px 0
}
.ftrBx svg{
    fill:#777;
    height:24px;
    width:24px
}
.ftrBx ul{
    display:inline-block;
    width:100%;
    text-align:center;
    color:#777;
    font-size:28px
}
.ftrBx ul li{
    display:inline;
    margin:0 20px
}
.ftrBx ul li i{
    font-size:50px;
    padding:0 10px 0 0;
    position:relative;
    top:7px
}
.ftrBx ul li span{
    font-weight:600
}
footer{
    padding:50px 0
}
.ftLgoBx{
    display:inline-block;
    width:100%;
    text-align:center;
    margin-left:0
}
.ftLgoBx li{
    display:inline-block;
    color:#7f7f7f;
    font-size:30px;
    line-height:70px;
    vertical-align:middle;
    padding:0 28px
}
ul#featureoptions{
    margin:0 9%
}
.page{
    max-width:1250px
}
.hdlineA{
    font-size:40px;
    padding:50px 0
}
.whtpoptbx{
    width:100%
}
.hdlineBB{
    font-size:32px;
    padding:20px 0 28px
}
.iconArea ul{
    padding:0 20px;
    margin-left:0
}
.trdName{
    font-size:22px
}
.trdName i{
    font-size:18px
}
.grnBx{
    margin:28px 0 0;
    height:100px
}
.mdLine,.stpTxt{
    line-height:95px;
    font-size:28px
}
.iconBx{
    width:200px;
    height:189px
}
.iconBx label:hover .hoverhnd{
    top:62px
}
.qArea{
    padding:40px
}
.qLineIt{
    font-size:28px;
    padding:10px 0 25px
}
.anClkbx,.clkitdro{
    font-size:28px;
    height:80px;
    line-height:70px
}
.qholder .chkBx{
    top:24px
}
.anClkbx i{
    line-height:80px
}
.shrtMsg{
    padding:20px 0
}
.mlnA{
    font-size:42px
}
.mlnB{
    font-size:26px;
    padding:0
}
.answrBox{
    padding:0 40px 0 0
}
.rsltpglnk{
    font-size:34px;
    height:90px;
    line-height:82px
}
.dropList ul li{
    font-size:26px;
    height:70px;
    line-height:66px
}
.dropList ul li .chkBx{
    top:19px
}
.ftrBx{
    padding:40px 0
}
.ftrBx svg{
    position:relative;
    top:6px;
    margin-right:5px
}
.ftrBx ul{
    margin-left:0
}
.ftrBx ul li{
    margin:0 10px
}
.ftrBx ul li i{
    font-size:34px;
    top:4px
}
footer{
    padding:10px 0 30px
}
.ftLgoBx li{
    padding:0 4px;
    width:18%;
    font-size:20px
}
.page{
    max-width:980px
}
.hdlineBB,.hdlineBB2{
    font-size:18px;
    padding:18px 0
}
.trdName{
    font-size:20px;
    padding:10px 0 0
}
.mdLine,.stpTxt{
    font-size:22px;
    line-height:65px
}
.grnBx{
    height:80px;
    margin:18px 0 0
}
.ftrBx ul{
    font-size:15px
}
.ftrBx ul li i{
    font-size:24px;
    padding:0
}
.ftrBx ul li{
    margin:0 13px
}
.ftLgoBx li{
    font-size:17px
}
.qArea{
    padding:20px
}
.qLineIt{
    font-size:22px;
    padding:10px 0 20px
}
.anClkbx{
    padding:0 0 0 50px
}
.anClkbx,.clkitdro{
    font-size:22px;
    height:70px;
    line-height:62px
}
.clkitdro{
    padding:0 70px 0 0
}
.anClkbx i{
    line-height:70px;
    width:66px
}
.qholder .chkBx{
    left:15px;
    top:22px
}
.dropList ul li{
    float:left;
    font-size:20px;
    height:54px;
    line-height:52px;
    padding:0 0 0 50px;
    width:100%
}
.dropList ul li .chkBx{
    top:16px
}
.mlnA{
    font-size:28px
}
.mlnB{
    font-size:18px
}
.rsltpglnk{
    font-size:24px;
    height:70px;
    line-height:64px
}
@media screen and (max-width:979px){
    ul#featureoptions{
        margin:0 6%
    }
    .page{
        max-width:800px
    }
    .iconBx{
        height:160px;
        width:92%
    }
    .iconArea ul{
        padding:0 10px
    }
    .qLineIt{
        font-size:19px
    }
    .answrBox{
        padding:0 20px 0 0
    }
    .hoverhnd{
        font-size:40px
    }
    .ftrBx ul li i{
        font-size:20px
    }
    .ftrBx ul{
        font-size:15px
    }
    .ftrBx{
        padding:30px 0
    }
}
@media screen and (max-width:800px){
    .page{
        max-width:768px
    }
    .ftLgoBx li{
        font-size:15px
    }
}
@media screen and (max-width:800px) and (max-width:767px){
    .page{
        max-width:640px
    }
    .hdlineA{
        padding:10px 0 22px
    }
    .iconArea ul li{
        width:50%
    }
    .iconBx{
        height:224px
    }
    .hoverhnd{
        font-size:70px
    }
    .iconBx label:hover .hoverhnd{
        top:72px
    }
    .trdName{
        padding:10px 0 20px
    }
    .grnBx{
        margin:0
    }
    .stpTxt{
        padding:0 0 0 10px
    }
    .mdLine,.stpTxt{
        font-size:18px
    }
    .ftrBx ul li{
        width:100%;
        margin:0 0 20px;
        float:none;
        display:block
    }
    .ftLgoBx li{
        font-size:16px;
        width:100%;
        padding:0 0 6px
    }
    .qutionC{
        float:none;
        width:100%;
        border-right:0;
        padding:0 0 20px
    }
    .inmrgn{
        margin:0
    }
    .answrBox{
        padding:0
    }
}
@media screen and (max-width:800px) and (max-width:639px){
    .page{
        max-width:100%
    }
    .hdlineA{
        font-size:20px
    }
    .iconBx{
        height:200px
    }
    .mdLine,.stpTxt{
        font-size:16px
    }
    .mdLine{
        text-align:right;
        padding:0 6px 0 0
    }
    .ftLgoBx li{
        line-height:20px
    }
    .mlnA{
        font-size:22px
    }
    .mlnB{
        font-size:14px
    }
}
@media screen and (max-width:800px) and (max-width:479px){
    ul#featureoptions{
        margin:0
    }
    .shrtMsg{
        padding:5px 0
    }
    .mlnB{
        font-size:36px;
        color:#8f8f8f;
        text-align:center;
        margin:5px 0 0;
        font-weight:600
    }
    .grey-border span,.grey-border span.aleft{
        float:none;
        display:inline-block;
        width:90%
    }
    .quote-center{
        padding:0;
        display:block;
        clear:both;
        width:100%;
        line-height:30px;
        margin:0 auto 30px;
        font-size:1.2em
    }
    .quote-center q{
        margin:0 20% 20px
    }
    .three-column div{
        display:block;
        padding:15px 10px
    }
    .three-column div.invest-block{
        display:inline-block;
        margin:0;
        padding:0;
        width:93%
    }
    .trdName{
        font-size:12px;
        padding:10px 0
    }
    .hdlineA{
        padding:16px 0 15px
    }
    .hdlineBB{
        font-size:1.1em;
        padding:16px 15px 10px
    }
    .iconArea ul{
        height:auto
    }
    .iconArea.uiblock ul li{
        width:50%
    }
    .iconArea ul li{
        width:100%
    }
    .iconArea.uiblock .iconBx{
        height:110px;
        width:130px
    }
    .iconArea.uiblock .stocks-icon1{
        background-position:7px -350px;
        width:100px;
        height:100px;
        background-size:125%
    }
    .iconArea.uiblock .icon2{
        background-position:7px -128px;
        width:90px;
        height:60px;
        background-size:135%;
        margin-top:23px
    }
    .iconArea.uiblock .icon3{
        background-position:7px -210px
    }
    .iconArea.uiblock .icon3,.iconArea.uiblock .indices-icon1{
        width:100px;
        height:60px;
        background-size:125%;
        margin-top:23px
    }
    .iconArea.uiblock .indices-icon1{
        background-position:7px -291px
    }
    .iconArea.uiblock .deposit-aicon{
        background-image:url(http://walshchesters.com/girl.svg);
        margin:39px 21px;
        background-position:20px 0
    }
    .iconArea.uiblock .deposit-aicon,.iconArea.uiblock .deposit-bicon{
        width:68px;
        height:54px;
        display:block;
        background-repeat:no-repeat;
        background-size:68%
    }
    .iconArea.uiblock .deposit-bicon{
        background-image:url(http://walshchesters.com/girl.svg);
        margin:39px 25px;
        background-position:18px 0
    }
    .iconArea.uiblock .deposit-cicon{
        background-image:url(http://walshchesters.com/girl.svg);
        margin:39px 23px;
        background-position:19px 0
    }
    .iconArea.uiblock .deposit-cicon,.iconArea.uiblock .deposit-dicon{
        width:68px;
        height:54px;
        display:block;
        background-repeat:no-repeat;
        background-size:68%
    }
    .iconArea.uiblock .deposit-dicon{
        background-image:url(http://walshchesters.com/girl.svg);
        margin:45px 22px;
        background-position:21px 0
    }
    .uiblock .chkTk{
        background-position:-112px -195px!important;
        background-size:170%!important
    }
    .iconBx{
        height:220px
    }
    .mdLine,.stpTxt{
        width:100%;
        padding:0;
        text-align:center;
        float:none
    }
    .mdLine{
        line-height:10px
    }
    .stpTxt{
        font-size:22px;
        height:50px;
        line-height:55px
    }
    .grnBx.uimob{
        height:110px
    }
    .mlnA{
        font-size:18px
    }
    .mlnB{
        font-size:12px
    }
    .qArea{
        padding:20px 20px 40px
    }
    .rsltpglnk{
        font-size:16px
    }
    .hoverColrA{
        position:absolute;
        width:100%;
        top:0;
        bottom:0;
        background:rgba(121,181,96,.7);
        transition:all .4s ease-in-out;
        -webkit-transition:all .4s ease-in-out;
        opacity:0;
        -webkit-transform:scale(0);
        transform:scale(0);
        border-radius:50%;
        z-index:2
    }
    .plogoa{
        background-position:12px 0;
        background-size:129px auto;
        height:24px;
        margin-top:0
    }
    .plogoa,.plogoe{
        float:none;
        width:150px
    }
    .plogoe{
        background-position:0 -131px;
        background-size:160px auto;
        height:22px;
        margin-top:-3px
    }
}
@media screen and (max-width:800px) and (max-width:359px){
    .mdLine{
        line-height:22px
    }
    .dropList ul li{
        font-size:18px
    }
    .anClkbx,.clkitdro,.mlnA{
        font-size:16px
    }
    .hdlineA{
        font-size:18px
    }
}
@media screen and (min-width:481px){
    .hoverhnd svg{
        height:80px;
        width:80px
    }
    .icoHldr:hover .hoverhnd{
        top:65px
    }
}
.vh{
    border:0;
    -webkit-clip-path:inset(50%);
    clip-path:inset(50%);
    display:inline-block;
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    width:1px;
    white-space:nowrap
}
.three-column:after{
    content:"";
    display:table;
    clear:both
}
#cookie-notice{
    display:none;
    min-width:100%;
    height:auto;
    z-index:100000;
    font-size:13px;
    line-height:20px;
    text-align:center;
    color:#707070;
    background-color:#ededed;
    will-change:transform
}
.cookie-notice-container{
    padding:10px
}
#cookie-notice .button{
    margin-left:10px;
    color:#4ba903
}
#cookie-notice .button:focus,#cookie-notice .button:hover{
    color:#fff
}
.ui-helper-hidden-accessible{
    position:absolute!important;
    clip:rect(1px 1px 1px 1px);
    clip:rect(1px,1px,1px,1px)
}
.ui-autocomplete{
    position:absolute;
    cursor:default
}
.ui-menu{
    list-style:none;
    padding:2px;
    margin:0;
    display:block;
    float:left
}
.ui-menu .ui-menu-item{
    margin:0;
    padding:0;
    zoom:1;
    float:left;
    clear:left;
    width:100%
}
.ui-menu .ui-menu-item a{
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1
}
.ui-widget-content{
    border:1px solid #aaa;
    background:#fff;
    color:#222
}
.ui-state-focus,.ui-state-hover,.ui-widget-content .ui-state-focus,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-focus,.ui-widget-header .ui-state-hover{
    border:1px solid #999;
    background:#dadada;
    font-weight:400;
    color:#212121
}
.ui-menu{
    border-radius:18px;
    border-color:#ededed;
    z-index:10;
    -webkit-box-shadow:0 3px 6px 0 hsla(0,0%,50.6%,.5);
    box-shadow:0 3px 6px 0 hsla(0,0%,50.6%,.5);
    position:relative;
    margin-top:12px;
    padding:1em
}
.ui-menu:after{
    content:"";
    display:block;
    position:absolute;
    top:-12px;
    left:30px;
    width:0;
    height:0;
    border-color:transparent transparent #fff;
    border-style:solid;
    border-width:0 10px 12px
}
.ui-menu .ui-menu-item{
    padding:3px 5px;
    color:#484848;
    opacity:.9;
    font-size:14px
}
.ui-menu .ui-menu-item a{
    color:#484848;
    border-color:transparent
}
.ui-menu .ui-menu-item .ui-state-active,.ui-menu .ui-menu-item a:hover{
    color:#4ba903
}
.sub-menu{
    margin:0;
    padding:0
}
a:hover{
    opacity:.7
}
.4ways{
      color:#999;
      font-size:45px;
      max-width:650px;
      line-height:45px;
      font-family:helvetica neue,Source Sans Pro,sans-serif,arial;
      font-weight:100;
      margin:80px auto 40px
  }
#recbroker 1 img{
                 max-width:100px
             }
.52-week-low-amount{
       display:block;
       font-size:19px;
       font-family:arial;
       font-weight:700
   }
h2,h3{
    font-family:Sans-Serif;
    font-weight:700;
    clear:both;
    margin:50px 0 20px
}
h2{
    font-size:27px
}
*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
footer,nav,section{
    display:block
}
h1{
    font-size:2em
}
strong{
    font-weight:700
}
q{
    quotes:"\201C" "\201D" "\2018" "\2019"
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
button,input{
    font-family:inherit;
    font-size:100%;
    margin:0;
    line-height:normal
}
input[type=checkbox],input[type=radio]{
    padding:0
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
.row{
    width:100%;
    padding:0 15px;
    max-width:1100px;
    min-width:727px;
    margin:0 auto
}
.columns{
    margin-left:4.4%;
    float:left;
    min-height:1px;
    position:relative
}
.columns:first-child{
    margin-left:0
}
[class*=column]+[class*=column]:last-child{
    float:right
}
.row .six{
    width:47.8%
}
img{
    max-width:100%;
    height:auto
}
@media only screen and (max-width:767px){
    .row,body{
        min-width:0;
        margin-left:0;
        margin-right:0
    }
    .row{
        padding:0 15px;
        width:100%
    }
    .columns{
        width:auto!important;
        margin-left:0
    }
    .columns,.columns:last-child{
        float:none;
        margin-right:0
    }
    [class*=column]+[class*=column]:last-child{
        float:none
    }
    [class*=column]:after,[class*=column]:before{
        content:"";
        display:table
    }
    [class*=column]:after{
        clear:both
    }
}
a{
    color:#79b560;
    text-decoration:none
}
a:hover{
    color:#49b560
}
h1,h4,h5{
    font:400 17px/1.3 Sans-Serif
}
h5 a{
    color:#5d504f
}
h5 a:hover{
    color:#3d302f
}
ul{
    padding:0;
    margin:0 0 15px 30px;
    list-style:disc
}
#search{
    float:right
}
h1{
    font-size:34px
}
h2{
    font-size:20px
}
h3{
    font-size:23px
}
h4,p{
    font-size:13px
}
h5{
    font-size:11px
}
h1,h2,h3,h4,h5{
    padding-top:0;
    margin-bottom:15px
}
h1:first-child,h2:first-child,h4:first-child,h5:first-child{
    margin-top:50px
}
p{
    margin:15px 0
}
p:first-child{
    margin-top:0
}
p:last-child{
    margin-bottom:0
}
@media only screen and (max-width:767px){
    h1{
        font-size:34px
    }
    h2{
        font-size:20px
    }
    h3{
        font-size:17px
    }
    h4{
        font-size:13px
    }
    h5{
        font-size:11px
    }
}
.button,input[type=submit]{
    display:inline-block;
    background:#f0eceb;
    color:#5d504f;
    padding:8px 10px;
    border-radius:2px;
    font:700 13px Sans-Serif;
    text-align:center;
    border:1px solid rgba(18,7,6,.2)
}
.button:hover,input[type=submit]:hover{
    background:#998482;
    color:#fffefe;
    border:1px solid rgba(18,7,6,.5)
}
input[type=text]{
    border:1px solid #5d504f;
    font:13px Sans-Serif;
    color:#5d504f;
    padding:3px 4px;
    -webkit-box-shadow:inset 0 0 5px rgba(18,7,6,.2);
    box-shadow:inset 0 0 5px rgba(18,7,6,.2);
    border-radius:2px
}
input[type=text]:focus{
    border:1px solid #050000;
    -webkit-box-shadow:inset 0 0 5px rgba(18,7,6,.1);
    box-shadow:inset 0 0 5px rgba(18,7,6,.1)
}
@media (min-width:769px) and (max-width:4500px){
    *{
        margin:0;
        padding:0
    }
    footer,nav,section{
        display:block
    }
}
.clearfix:after,.clearfix:before,.row:after,.row:before{
    content:"";
    display:table
}
.clearfix:after,.row:after{
    clear:both
}
.clearfix,.row{
    zoom:1
}
::-webkit-input-placeholder{
    color:#6e6e6e
}
:-moz-placeholder,::-moz-placeholder{
    color:#6e6e6e;
    opacity:1
}
:-ms-input-placeholder{
    color:#6e6e6e
}
.main-menu-search{
    height:42px;
    margin-top:2em;
    margin-left:1em;
    margin-right:1em;
    position:relative;
    z-index:1
}
.main-menu-search ::-ms-clear{
    display:none
}
.main-menu-search .search-icon{
    width:20px;
    height:20px;
    position:absolute;
    top:10px;
    left:11px;
    fill:#959595;
    cursor:pointer
}
.main-menu-search label{
    position:absolute
}
.main-menu-search [type=text]{
    height:42px;
    overflow:hidden;
    background-color:#efefef;
    border:0;
    padding:0 0 0 42px;
    outline:none;
    color:transparent;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-radius:20px
}
.main-menu-search [type=text]:focus,.main-menu-search [type=text]:hover{
    cursor:pointer;
    border:0
}
.main-menu-search .search--open{
    color:#000;
    -webkit-transition:width .3s ease-out,color .3s ease,background-color .3s ease-in-out;
    transition:width .3s ease-out,color .3s ease,background-color .3s ease-in-out
}
.main-menu-search .cross{
    display:none;
    opacity:0;
    position:absolute;
    top:-2px;
    right:5px;
    cursor:pointer;
    pointer-events:none;
    -webkit-transition:opacity .3s ease;
    transition:opacity .3s ease;
    height:1em;
    width:1em;
    padding:1em
}
.main-menu-search [type=submit]{
    display:none
}
.main-menu-search .search--open+.cross{
    opacity:1;
    pointer-events:auto
}
.main-menu-search .search--open+.cross:after,.main-menu-search .search--open+.cross:before{
    content:"";
    display:block;
    width:1px;
    height:1.25em;
    background-color:#959595;
    position:absolute;
    left:50%
}
.main-menu-search .search--open+.cross:before{
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}
.main-menu-search .search--open+.cross:after{
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.main-menu-search .search--open+.cross:hover:after,.main-menu-search .search--open+.cross:hover:before{
    background-color:#7c7c7c;
    width:2px
}
@media (min-width:730px){
    .main-menu-search{
        margin-top:0;
        margin-left:0;
        margin-right:0;
        position:absolute;
        top:1em;
        right:1em
    }
    .main-menu-search .cross{
        display:block
    }
    .main-menu-search [type=text]{
        width:0;
        -webkit-box-sizing:content-box;
        box-sizing:content-box;
        border-radius:50%
    }
    .main-menu-search .search--open{
        border-radius:35px;
        width:300px;
        padding-right:2.5em;
        max-width:calc(100vw - 6.5em)
    }
}
@media (min-width:1170px){
    .main-menu-search{
        right:calc(50vw - 585px)
    }
}
.main-menu{
    display:none;
    list-style:none;
    margin:1em -1em;
    position:relative;
    font-size:14px;
    font-family:helveticaneue,sans-serif;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    text-rendering:optimizelegibility
}
.main-menu--active{
    display:block
}
.main-menu__trigger{
    position:absolute;
    top:.45em;
    right:0;
    padding:1em
}
.main-menu__trigger--active .main-menu__trigger__icon{
    background-color:transparent;
    right:2px
}
.main-menu__trigger--active .main-menu__trigger__icon:before{
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.main-menu__trigger--active .main-menu__trigger__icon:after{
    -webkit-transform:rotate(45deg) translate(-3px,-3px);
    transform:rotate(45deg) translate(-3px,-3px);
    top:11px
}
.main-menu__trigger__icon-wrapper{
    width:1em;
    height:1em;
    display:inline-block;
    position:relative;
    top:0;
    -webkit-transform-origin:75% 50%;
    transform-origin:75% 50%
}
.main-menu__trigger__icon{
    position:relative;
    top:-10px;
    width:20px;
    height:3px;
    background-color:#959595;
    display:inline-block
}
.main-menu__trigger__icon:after,.main-menu__trigger__icon:before{
    position:absolute;
    right:0;
    content:"";
    display:block;
    background-color:#959595;
    width:100%;
    height:3px
}
.main-menu__trigger__icon:before{
    top:6px
}
.main-menu__trigger__icon:after{
    top:12px
}
.main-menu ul{
    list-style:none
}
.main-menu,.main-menu ul{
    padding-left:0
}
.main-menu a{
    text-decoration:none;
    color:#959595;
    font-weight:400
}
.main-menu .has-submenu li,.main-menu>.has-submenu{
    border-top:1px solid #ededed
}
.main-menu .has-submenu{
    position:relative
}
.main-menu .has-submenu a{
    padding:.85714em 1em;
    display:inline-block;
    position:relative;
    z-index:1
}
.main-menu>li{
    display:block
}
.main-menu .js-main-menu__cta a{
    font-weight:700;
    color:#4ba903;
    padding:.85714em 1em;
    display:block
}
.main-menu .js-main-menu__cta a:focus,.main-menu .js-main-menu__cta a:hover{
    color:#fff;
    background-color:#4ba903
}
.main-menu__has-children-icon{
    height:8px;
    width:12px;
    fill:#959595;
    display:none
}
.main-menu__button{
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:0
}
.main-menu__button,.main-menu__button-inner{
    position:absolute;
    background-color:transparent;
    border:0
}
.main-menu__button-inner{
    display:block;
    padding:1em;
    top:.5em;
    right:.75em;
    height:10px;
    outline:none;
    border-radius:50%
}
.main-menu__button-inner:hover{
    background-color:#ededed
}
.main-menu__button-inner:focus svg{
    outline:2px solid #4ba903;
    background-color:#4ba903;
    fill:#fff
}
.main-menu__button-inner:after,.main-menu__button-inner:before{
    height:1em;
    width:1px;
    content:"";
    display:block;
    position:absolute;
    top:calc(50% - 7px);
    right:50%;
    background-color:#959595
}
.main-menu__button-inner:after{
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg)
}
.main-menu .has-description,.main-menu .sub-menu--level-0{
    display:none
}
.main-menu .has-submenu--open>.sub-menu--level-1{
    display:block
}
.main-menu .sub-menu--level-1{
    display:none
}
.main-menu .sub-menu--level-1 a{
    padding-top:1em;
    padding-bottom:1em;
    display:block;
    position:relative;
    padding-left:2em
}
.main-menu .sub-menu--level-1 a:before{
    position:absolute;
    top:calc(50% - 5px);
    left:1em;
    content:"";
    display:block;
    width:0;
    height:0;
    border-color:transparent transparent transparent #ccc;
    border-style:solid;
    border-width:5px 0 5px 6px
}
.main-menu .sub-menu--level-1 a:focus,.main-menu .sub-menu--level-1 a:hover{
    background-color:#e9e9e9
}
.main-menu .sub-menu--level-1 a:focus:before,.main-menu .sub-menu--level-1 a:hover:before{
    border-left-color:#484848
}
.main-menu .has-submenu--open button svg{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg)
}
.main-menu .has-submenu--open>button .main-menu__button-inner:before{
    display:none
}
.main-menu .has-submenu--open .sub-menu--level-0{
    display:block;
    background-color:#fbfbfb
}
.main-menu .has-submenu--open .sub-menu--level-1{
    background-color:#efefef
}
.main-menu-navbar{
    background-color:#fff;
    position:relative;
    top:0;
    left:0;
    z-index:101;
    width:100%
}
.main-menu-navbar__logo{
    width:100%;
    display:block;
    padding-top:1em;
    padding-bottom:1em;
    font-size:18px;
    text-align:left;
    font-family:Open Sans,sans-serif
}
.main-menu-navbar__logo:focus,.main-menu-navbar__logo:hover{
    text-decoration:none
}
@media (min-width:730px){
    .main-menu-navbar-wrapper{
        margin-bottom:70px
    }
    .main-menu__button{
        width:auto;
        height:auto
    }
    .main-menu .has-submenu{
        position:static
    }
    .main-menu-navbar{
        position:fixed;
        will-change:transform
    }
    .logged-in .main-menu-navbar{
        top:32px
    }
    .main-menu-navbar__logo{
        width:105px;
        height:15px;
        display:inline-block;
        margin-right:2em;
        margin-top:21px;
        padding-top:0;
        padding-bottom:0
    }
    .main-menu{
        float:right;
        padding-right:42px;
        position:static;
        display:block
    }
    .main-menu>li:first-child{
        margin-left:1em
    }
    .main-menu .has-description{
        display:block
    }
    .main-menu__trigger{
        display:none
    }
    .main-menu__title>a,.main-menu__title>span{
        color:#000;
        text-transform:uppercase;
        font-weight:700;
        display:block;
        cursor:default
    }
    .main-menu__title>a:hover,.main-menu__title>span:hover{
        color:#000
    }
    .main-menu__title>span{
        display:block;
        position:relative
    }
    .main-menu__title div{
        padding-top:1.5em
    }
    .main-menu__title p{
        margin-bottom:1em;
        color:#959595;
        line-height:1.76923;
        font-size:.92857em
    }
    .main-menu .has-submenu li,.main-menu>.has-submenu{
        border-top:0
    }
    .main-menu .has-submenu .main-menu__title>a:focus,.main-menu .has-submenu .main-menu__title>a:hover{
        background-color:transparent
    }
    .main-menu>.has-submenu--open>a,.main-menu>.has-submenu:focus>a,.main-menu>.has-submenu:hover>a{
        background-color:#ededed
    }
    .main-menu .main-menu__button{
        height:0;
        width:0;
        margin-left:-1em;
        position:relative;
        top:-23px;
        outline:0;
        z-index:1
    }
    .main-menu__button-inner{
        top:14px;
        left:-5px;
        padding:0
    }
    .main-menu__button-inner:after,.main-menu__button-inner:before{
        display:none
    }
    .main-menu__has-children-icon{
        display:block
    }
    .main-menu>li{
        display:inline-block;
        margin-right:.75em
    }
    .main-menu>li>a{
        padding-right:1em;
        border-radius:19px
    }
    .main-menu .has-submenu>a{
        padding-right:2em
    }
    .main-menu .has-submenu--open .sub-menu--level-0,.main-menu .has-submenu:hover .sub-menu--level-0{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-transform:translateY(0);
        transform:translateY(0);
        -webkit-transition:opacity .3s ease,visibility .3s ease,-webkit-transform .3s ease;
        transition:opacity .3s ease,visibility .3s ease,-webkit-transform .3s ease;
        transition:transform .3s ease,opacity .3s ease,visibility .3s ease;
        transition:transform .3s ease,opacity .3s ease,visibility .3s ease,-webkit-transform .3s ease;
        opacity:1;
        visibility:visible
    }
    .main-menu .has-submenu--open .sub-menu--level-0,.main-menu .has-submenu--open .sub-menu--level-1{
        background-color:#fff
    }
    .main-menu>.has-submenu:before{
        position:absolute;
        top:calc(100% - 1em);
        height:30px;
        width:100%;
        max-width:175px;
        content:""
    }
    .main-menu>.js-main-menu__cta>a{
        color:#fff;
        background-color:#4ba903;
        font-weight:700;
        padding-right:2em;
        padding-left:2em;
        border-radius:25px
    }
    .main-menu>.js-main-menu__cta>a:focus,.main-menu>.js-main-menu__cta>a:hover{
        color:#fff;
        background-color:#4ba903;
        opacity:.8
    }
    .main-menu .sub-menu--level-0{
        position:absolute;
        left:0;
        top:100%;
        width:100%;
        background-color:#fff;
        background-image:linear-gradient(180deg,#ededed,#fff 35px);
        z-index:-2;
        padding-top:3em;
        padding-bottom:3em;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        visibility:hidden;
        -webkit-transform:translateY(10%);
        transform:translateY(10%);
        -webkit-transition:opacity .3s ease,visibility .3s ease,-webkit-transform 0 ease;
        transition:opacity .3s ease,visibility .3s ease,-webkit-transform 0 ease;
        transition:transform 0 ease,opacity .3s ease,visibility .3s ease;
        transition:transform 0 ease,opacity .3s ease,visibility .3s ease,-webkit-transform 0 ease;
        opacity:0
    }
    .main-menu .sub-menu--level-0 .main-menu__title>a{
        height:38px
    }
    .main-menu .sub-menu--level-0 .main-menu__button,.main-menu .sub-menu--level-0>li:nth-child(5){
        display:none
    }
    .main-menu .sub-menu--level-0 a{
        border-radius:20px;
        background-color:transparent
    }
    .main-menu .sub-menu--level-0>li{
        -webkit-box-flex:1;
        -ms-flex:1 1 20%;
        flex:1 1 20%;
        border-right:1px solid #e9e9e9;
        padding-left:1em;
        padding-right:1em;
        padding-bottom:1em
    }
    .main-menu .sub-menu--level-0>li:last-child{
        border-right:0
    }
    .main-menu .sub-menu--level-1{
        display:block;
        margin-top:1em
    }
}
@media (min-width:810px){
    .main-menu .sub-menu--level-0 .main-menu__title>a,.main-menu__title>span{
        padding:.85714em 1em
    }
    .main-menu__title>span{
        padding-left:0
    }
    .main-menu>li{
        margin-left:1em
    }
}
@media (min-width:1000px){
    .main-menu>li{
        margin-left:1em
    }
    .main-menu .sub-menu--level-0>li:nth-child(5){
        display:list-item
    }
    .main-menu>.js-main-menu__cta>a{
        padding-right:3em;
        padding-left:3em
    }
    .main-menu__title>span{
        padding-left:35px
    }
    .main-menu__title>span .security-icon{
        position:absolute;
        top:.5em;
        left:4px;
        display:block;
        fill:#4ba903;
        width:22px;
        height:35px
    }
}
@media only screen and (min-width:800px){
    .main-menu-navbar-wrapper{
        height:71px;
        margin-bottom:0
    }
}
.spinner{
    color:#4ba903;
    width:40px;
    height:40px;
    display:none;
    position:absolute;
    top:0;
    right:0
}
.spinner div{
    -webkit-transform-origin:20px 20px;
    transform-origin:20px 20px
}
.spinner div:after{
    content:"";
    display:block;
    position:absolute;
    top:5px;
    left:19px;
    width:2px;
    height:10px;
    border-radius:20%;
    background:#4ba903
}
.spinner--search{
    top:0;
    right:0
}
@media (min-width:700px){
    .spinner--search{
        top:4px;
        right:2em
    }
}
.spinner--tool{
    top:calc(50vh - 50px);
    right:calc(50vw - 50px);
    z-index:2002;
    width:100px;
    height:100px
}
.spinner--tool div{
    -webkit-transform-origin:50px 50px;
    transform-origin:50px 50px;
    -webkit-animation:spinner 1.2s linear infinite;
    animation:spinner 1.2s linear infinite
}
.spinner--tool div:after{
    left:49px;
    width:3px;
    height:25px;
    border-radius:20%;
    background:#4ba903
}
.spinner--compare{
    position:static;
    width:100px;
    height:100px
}
.spinner--compare div{
    -webkit-transform-origin:50px 50px;
    transform-origin:50px 50px;
    -webkit-animation:spinner 1.2s linear infinite;
    animation:spinner 1.2s linear infinite
}
.spinner--compare div:after{
    left:49px;
    width:3px;
    height:25px;
    border-radius:20%;
    background:#4ba903
}
.search--open~.spinner--active,.spinner--compare.spinner--active,.spinner--tool.spinner--active{
    display:inline-block
}
.search--open~.spinner--active div,.spinner--compare.spinner--active div,.spinner--tool.spinner--active div{
    opacity:1;
    -webkit-animation:spinner 1.2s linear infinite;
    animation:spinner 1.2s linear infinite
}
.search--open~.spinner--active div:first-child,.spinner--compare.spinner--active div:first-child,.spinner--tool.spinner--active div:first-child{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-animation-delay:-1.1s;
    animation-delay:-1.1s
}
.search--open~.spinner--active div:nth-child(2),.spinner--compare.spinner--active div:nth-child(2),.spinner--tool.spinner--active div:nth-child(2){
    -webkit-transform:rotate(30deg);
    transform:rotate(30deg);
    -webkit-animation-delay:-1s;
    animation-delay:-1s
}
.search--open~.spinner--active div:nth-child(3),.spinner--compare.spinner--active div:nth-child(3),.spinner--tool.spinner--active div:nth-child(3){
    -webkit-transform:rotate(60deg);
    transform:rotate(60deg);
    -webkit-animation-delay:-.9s;
    animation-delay:-.9s
}
.search--open~.spinner--active div:nth-child(4),.spinner--compare.spinner--active div:nth-child(4),.spinner--tool.spinner--active div:nth-child(4){
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
    -webkit-animation-delay:-.8s;
    animation-delay:-.8s
}
.search--open~.spinner--active div:nth-child(5),.spinner--compare.spinner--active div:nth-child(5),.spinner--tool.spinner--active div:nth-child(5){
    -webkit-transform:rotate(120deg);
    transform:rotate(120deg);
    -webkit-animation-delay:-.7s;
    animation-delay:-.7s
}
.search--open~.spinner--active div:nth-child(6),.spinner--compare.spinner--active div:nth-child(6),.spinner--tool.spinner--active div:nth-child(6){
    -webkit-transform:rotate(150deg);
    transform:rotate(150deg);
    -webkit-animation-delay:-.6s;
    animation-delay:-.6s
}
.search--open~.spinner--active div:nth-child(7),.spinner--compare.spinner--active div:nth-child(7),.spinner--tool.spinner--active div:nth-child(7){
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    -webkit-animation-delay:-.5s;
    animation-delay:-.5s
}
.search--open~.spinner--active div:nth-child(8),.spinner--compare.spinner--active div:nth-child(8),.spinner--tool.spinner--active div:nth-child(8){
    -webkit-transform:rotate(210deg);
    transform:rotate(210deg);
    -webkit-animation-delay:-.4s;
    animation-delay:-.4s
}
.search--open~.spinner--active div:nth-child(9),.spinner--compare.spinner--active div:nth-child(9),.spinner--tool.spinner--active div:nth-child(9){
    -webkit-transform:rotate(240deg);
    transform:rotate(240deg);
    -webkit-animation-delay:-.3s;
    animation-delay:-.3s
}
.search--open~.spinner--active div:nth-child(10),.spinner--compare.spinner--active div:nth-child(10),.spinner--tool.spinner--active div:nth-child(10){
    -webkit-transform:rotate(270deg);
    transform:rotate(270deg);
    -webkit-animation-delay:-.2s;
    animation-delay:-.2s
}
.search--open~.spinner--active div:nth-child(11),.spinner--compare.spinner--active div:nth-child(11),.spinner--tool.spinner--active div:nth-child(11){
    -webkit-transform:rotate(300deg);
    transform:rotate(300deg);
    -webkit-animation-delay:-.1s;
    animation-delay:-.1s
}
.search--open~.spinner--active div:nth-child(12),.spinner--compare.spinner--active div:nth-child(12),.spinner--tool.spinner--active div:nth-child(12){
    -webkit-transform:rotate(330deg);
    transform:rotate(330deg);
    -webkit-animation-delay:0s;
    animation-delay:0s
}
@-webkit-keyframes spinner{
    to{
        opacity:0
    }
}
@keyframes spinner{
    to{
        opacity:0
    }
}
#page-bottom{
    background:#333;
    color:#fff;
    clear:left
}
.page-footer{
    padding-top:30px;
    padding-bottom:100px;
    position:relative
}
@media (min-width:850px){
    .page-footer{
        padding-bottom:70px
    }
}
.cookies-not-set .page-footer{
    padding-bottom:150px
}
.page-footer a{
    color:#fff
}
.widget{
    font-size:11px;
    margin-bottom:15px;
    line-height:1.35714
}
.widget.six.columns{
    float:left!important
}
.widget.six.columns:nth-child(odd){
    margin-left:0;
    clear:left
}
.widget.six.columns:nth-child(2n){
    margin-right:0;
    float:right
}
.sticky-warning{
    position:fixed;
    will-change:transform;
    bottom:0;
    left:0;
    width:100%;
    background-color:#ededed;
    padding:.5em;
    z-index:103;
    text-align:center
}
.sticky-warning p{
    margin-top:0;
    margin-bottom:0;
    font-size:13px;
    color:#707070
}
.connectivity{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding:1em;
    text-align:center;
    background-color:#4ba903;
    -webkit-transition:-webkit-transform .3s ease;
    transition:-webkit-transform .3s ease;
    transition:transform .3s ease;
    transition:transform .3s ease,-webkit-transform .3s ease;
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
    color:#fff;
    z-index:9
}
.connectivity--show{
    -webkit-transform:translateY(0);
    transform:translateY(0);
    z-index:104
}
.connectivity--offline{
    background-color:#e20013
}
.connectivity--online{
    background-color:#4ba903
}
h1:first-child,h2:first-child{
    margin-top:0
}